[2016-10-20 13:58] marcocitus commented on #886
Ah, I vaguely remember this now. https://github.com/citusdata/citus/pull/414#r60610196

Yes, looks like we'd need to fix this in PostgreSQL.

[2016-10-20 14:46] lithp commented on #886
This appears to happen because [`ExplainOnePlan`](https://github.com/postgres/postgres/blob/master/src/backend/commands/explain.c#L436) calls `ExecutorStart` which usually hits `standard_ExecutorStart` which eventually calls [`InitPlan`](https://github.com/postgres/postgres/blob/master/src/backend/executor/execMain.c#L778) which [sets some state](https://github.com/postgres/postgres/blob/master/sr

[2016-10-20 14:47] lithp commented on #886
Is there a reason we never call `standard_ExecutorStart` if this is a router query? I seem to remember we used to call it, that might be why this used to work.

[2016-10-20 17:22] sumedhpathak commented on #881
@marcocitus for my understanding, is this a regression from our previous rebalancer? Did we support multi-user table rebalancing before?

[2016-10-20 17:36] marcocitus commented on #881
Iirc we just connected as the current user and checked that it's the table owner. We can still do that, but a new complication is that different tables can have different owners. I think if we needed a quick & dirty fix connecting ad the current user would still be reasonable though. I don't think users have a lot of different table owners.

[2016-10-20 18:55] marcocitus commented on #881
We could also consider only allowing one owner per co-location group, which might simplify things. We'd probably want to add a role column to pg_dist_colocation in that case.

[2016-10-21 00:08] ozgune opened #898 "DDL changes and INSERT INTO SELECT within the same transaction deadlock"
This issue relates to the upcoming `INSERT INTO SELECT` changes (pr: #859) The following sequence of commands results in a deadlock with the upcoming changes.

<pre>
BEGIN;
ALTER TABLE b ...;
INSERT INTO a SELECT * FROM b;
</pre>

This is because the first command uses different connections from second command and holds exclusive locks on shard placements. (note: distributed deadlocks currently re

[2016-10-21 09:38] #893 closed

[2016-10-21 13:48] #881 closed

[2016-10-21 15:10] metdos commented on #849
I'm planning to go with the simple solution ii.a mark_tables_colocated(sourceTable, targetTable), and don't move any shards and error out if two tables are not colocated already.

The user can pick a default table for every colocation group, and move all other tables into this group one by one. I'm planning to implement this as a SQL script, so we can provide it as a part of upgrade steps. Also, I

[2016-10-21 15:49] onderkalaci commented on #849
I think your suggestion makes sense. We could even come up with a simple SQL query that marks multiple (or all) table co-located in a single step.

[2016-10-21 16:30] sumedhpathak commented on #881
@byucesoy I presume this shouldn't be closed by the Create Table FK PR? Was this fix explicitly intended to be in that PR? i.e., Did we test that scenario as part of the FK pushdown change?

[2016-10-21 20:35] byucesoy commented on #881
As @marcocitus said, we already changed related part of CopyShardPlacement function for foreign key push down and did not want to add buggy code on purpose.

[2016-10-21 21:12] sumedhpathak commented on #881
I see, that's good to know. Do we have separate regression tests for this in the Enterprise repo? Or should we open up an issue to add them?

[2016-10-21 23:43] jasonmp85 commented on #719
Assigning to myself per discussion with @sumedhpathak.

[2016-10-22 17:11] ozgune commented on #891
@lithp -- I had a quick question. Do we run into this issue after changing int8 to int4s?

Could you sync up with @anarazel on this when he's there?

[2016-10-22 18:52] ozgune commented on #890
@sumedhpathak -- I'm going over our test plans for the previous release cycles and had two observations.

* As we start to improve on our testing infrastructure, it's probably best to involve team members who spent the most time on release testing.
* We ran Valgrind tests prior to our release cycles, but seem to have missed out on #812. @anarazel also caught several other bugs through valgrind. Ho

[2016-10-22 19:49] lithp commented on #891
@ozgune yeah, this is after the int8 -> int4 PR. And sure, il ask him about it.

[2016-10-24 11:16] mjaszczyk opened #902 "Connection leak"
Hi,
I'm evaluating Citus on a test cluster on which I observe master-workers connection pool leak issue. The cluster is 1 x master and 3 x workers, all nodes are connected in the local network. The OS is Debian 8 and Citus 5.2.

The issue can be easily reproduced even using `psql`:
- Enable connect/disconnect logging on master and workers
- Connect to the master using `psql`. There should be conne

[2016-10-24 11:29] #131 closed

[2016-10-24 11:48] lithp commented on #625
@lukashes

Sorry for taking a while to get back to you! Looking at this again, I think your first query: `SELECT count(*) FROM staff WHERE campaign IN (SELECT distinct(campaign) FROM stats WHERE ...)`

can be written `SELECT count(*) FROM staff INNER JOIN stats USING(campaign) WHERE ...`

But if you have more complicated queries which actually require subqueries we have a flag you can toggle: `SET

[2016-10-24 17:28] ozgune commented on #902
@mjaszczyk -- Thanks for the detailed issue report.

We'll assign a team member to reproduce this issue on our end, and we'll post an update to this issue within one week.

[2016-10-24 17:51] ozgune opened #904 "Investigate PREPARE workaround to offer better ORM integration"
We're tracking our prepare support in #306. @metdos nicely documented our current behavior in his comment in https://github.com/citusdata/citus/issues/306#issuecomment-250475341

@anarazel noted that a short term hack/workaround for `PREPARE` could be to return a cost of 0 in the related code path for distributed plans. This way, Postgres wouldn't drop into the `PREPARE` code path; and we'd be abl

[2016-10-24 18:04] ozgune opened #905 "Add hint to unsupported DELETE commands to call related UDF"
Currently, we natively support `DELETE` commands that are only on the distribution column. Deleting old rows across shards, particularly in the context of data expiration, is quite common. We talk more about this use-case in #183.

Right now, when the user runs `DELETE` across multiple shards, we error out. In our docs, we then instruct our users to use `master_modify_multiple_shards()` / `master_

[2016-10-24 18:16] ozgune commented on #774
@lfittl and @samay-sharma -- I had a question on this issue as it relates to #668.

How likely do you think is it that users will look to run ``DROP TABLE`` in a transaction block?

@jasonmp85 -- What was our reason for closing the other issue and not this one? Is it because we handle ``DROP TABLE`` through event triggers?

If so, we now know that ORMs commonly run ``TRUNCATE`` on individual table

[2016-10-24 19:12] lfittl commented on #774
@ozgune For this particular issue I don't think its required for Rails/ActiveRecord, and in particular [database_cleaner](https://github.com/DatabaseCleaner/database_cleaner) which is often used in unit/integration tests.

Whilst database_cleaner has an option to drop tables and then re-create them, but typically I've seen it being used with truncation.

There is another case where a DROP TABLE wi

[2016-10-24 20:18] ozgune opened #906 "Create Trigger / Drop Trigger on distributed tables"
We currently don't have native support built-in for distributed tables. Users who want to use triggers do so by manually creating them on a distributed table's shards on the worker nodes.

I'm opening this issue to track adding ``CREATE TRIGGER`` and ``DROP TRIGGER`` support on distributed tables. I'm also listing a few use-cases that relate to trigger support below.

1. Propagate ``CREATE TRIGGER

[2016-10-24 20:21] ozgune commented on #538
I'm noting #442 as an issue that may be related to this.

[2016-10-24 23:08] marcocitus commented on #898
We could probably disallow multi-shard modifications from DDL in transactions. I kind of lumped them together as part of the parallelisation changes, but it might make sense to separate them. On the other hand, creating a foreign key has the same problem (might block on a DDL command on the referenced table).

A possible fix is to always use the same connection for co-located shards. I wrote a sim

[2016-10-25 08:33] lithp opened #907 "A proposal for Improving the Safety of Extension Upgrades"
It being well-known that updates require two parts; loading of the shared-library and updating of the extension; and understanding that these independent operations, despite their independence, require a certain ordering lest Postgres experience some error, or worse, the sufferance of segfault; I do humbly offer it to consideration that this unfortunate potential be reduced through such means as w

[2016-10-25 09:09] anarazel commented on #907
(hm, replied via email, didn't take so far)

I don't think this is quite the right approach.  We need to essentially
make sure of the following:

The extension version may not be different than the "effective" shared
library version. Effective meaning it's the one that's currently loaded,
which will often be different from the one that's currently installed.
If that's not the case, we need to refu

[2016-10-25 09:41] marcocitus commented on #907
Doesn't that mean that we will error out on basically everything? e.g. even \dx?

[2016-10-25 09:55] marcocitus commented on #886
I guess it wasn't called for single-shard queries in pg_shard, but I don't know why. Now I'm a bit worried about the fact that we're not calling it, because it seems like we're not properly initialising the executor state and we might not take appropriate table locks either.

@anarazel , @jasonmp85 any thoughts?

[2016-10-25 10:20] anarazel commented on #907
@marcocitus That's why I'm thinking we have to do it around the places we do HasBeenLoaded(), not necessarily in it.  But there's really not much we can allow - even metadata for checking whether a table is distributed is potentially unsafe with a divergent schema. As that's required for our planner hook, I don't think there's much choice :(

[2016-10-25 10:44] lithp commented on #907
Enforcing exact matches means every Citus upgrade will require downtime. The downtime will usually be small, but become arbitrarily large should the upgrade script fail for whatever reason. It sounds much better to make the code backwards-compatible with the SQL. You need to run UPDATE to take advantage of new features, but until you run UPDATE all the old features will keep working.

We've had di

[2016-10-25 10:47] anarazel commented on #886
@marcocitus Yea, I think that's the reason. I think that's really a bad idea, and IIRC mentioned that during the integration, but we didn't want to change more than necessary...

[2016-10-25 10:57] anarazel commented on #907
I think that's pretty fundamentally required.  You can't do much in an extension upgrade script in the first place with the old shared library loaded, e.g. you can't create new functions and such, because the symbols won't be visible/existing.

I think that's much more work than a) it sounds at first b) it's worth.  Consider e.g. the nodeport thing - a very simple case - we need to add checks for

[2016-10-25 11:05] marcocitus commented on #907
I quite like Brian's proposal for this. There is no way to reliably handle the schema being ahead of the code, but in many cases we could even operate normally when the code is ahead of the schema. If we error out by making the upgrade script check the version number, then the former can never occur. The latter can be handled on a case-by-case basis. For example, introducing a new UDF should almos

[2016-10-25 11:18] anarazel commented on #907
Neither placementId, nor colocationId introduction, nor the int8->int4 conversion, all discussed in this release, would be helped by having that.  So it certainly doesn't help all that much.

Given that there were multiple bugs around this in this release alone, I think that's too optimistic. It also requires cluttering up the code with compatibility assumptions, which we essentially never can rem

[2016-10-25 11:20] marcocitus commented on #907
So far we've mainly discussed altering after restart, but the user could just as easily alter before a restart which could lead to all sorts of bad things, including corrupting the metadata. I'd rather prevent it outright.

[2016-10-25 11:31] anarazel commented on #907
Completely agreed.   But I don't think that really addresses the concern in the comment you quoted? Running new code without placementId e.g. requires checking for nulls in ```TupleToShardPlacement()``` which in turn will yield the correct but hard to understand:
[code]
that'll already prevent all queries from running.   For the int8->int4 thing we need code checking the current schema state.  And

[2016-10-25 11:38] marcocitus commented on #907
I think doing a version check is fine. I'm mostly saying that a) I think erroring out on a premature alter extension is a good idea. b) I'd rather check `schemaVersion >= 6.0-1` than `schemaVersion == 6.0-2` and bump the version number in cases where we change metadata tables.

[2016-10-25 11:42] anarazel commented on #907
ISTM that that's a step that's often going to be forgotten, and over the course of a release there'll likely be a such a change, so there simply seems little benefit in the added complexity.

[2016-10-25 12:02] marcocitus commented on #907
There's no benefit for developers, but it simplifies deployment and minimizes downtime for users.

For example, we typically make several connection attempts before erroring out, meaning we can usually survive a worker restart (though some of the retry logic could be improved). However, we cannot survive a worker version error. For modifications, we'd currently mark placements as inactive if we sa

[2016-10-25 12:21] anarazel commented on #907
I'm not convinced. How's getting an obscure error message any better than a proper one?

For that it'd be nice if we could figure out a way to only error out if distributed tables are accessed.  That'd mean we need some limited form of compatibility for pg_dist_shard, but not for anything else.  We'd not necessarily error out in worker_ and some other functions not using the metadata cache and rel

[2016-10-25 12:50] marcocitus commented on #907
Not sure what the obscure message is. We should have a version-related error if your code is below the minimum required version and no error message otherwise.

There are plenty of other reasons why not requiring the versions to be strictly in sync simplifies deployment. For example, client libraries also try to establish connections multiple times or restore a previously established connection, s

[2016-10-25 12:58] lithp commented on #907
There's a real difference between these options:

1) Stop sending all queries to the database. Restart the database. Run UPDATE. Start sending queries again.
2) Restart the database. Run UPDATE. Start using new features
3) Restart the database. Start using new features, but sometimes an error has happened and you take unexpected downtime.

Technically the restart also counts as downtime but librar

[2016-10-25 13:02] anarazel commented on #907
I was referring to

```ereport(ERROR, (errmsg("unexpected null in pg_dist_shard_placement_tuple")));```

added with you looking over my shoulder ;)

Looking at this realistically, there's no way we're going to work properly without pg_dist_node present or without the placementId column existing.

That doesn't change if we error out in only some cases, when still required.

I agree, but adding comp

[2016-10-25 13:05] anarazel commented on #907
How does placementId and/or pg_dist_node introduction fall under that if we don't error out?

Not quite, it's missing the case where the loaded shared library version is too old. But that's something we're planning on handling under this umbrella.

[2016-10-25 13:15] lithp commented on #907
For `pg_dist_node` you can change the upgrade script to create the table and add the rows in a single transaction. The rest of the code either reads from the file or from the table depending on whether the table exists. It's a little ugly but the code is only redundant until we cut a release, then we can remove the part which reads from the file.

[2016-10-25 13:17] anarazel commented on #907
@lithp Huh? Unless we keep that code for a fair while, we've gained absolutely nothing. What we're trying is to make the upgrade easier, that's not going to be achieved if we remove the code at the release.  We can't even remove it at release+1, because users often skip releases.   Nor will this actually be reasonably testable.    I'm going to protest *VERY HARD* against trying to support that. I

[2016-10-25 13:19] anarazel commented on #907
I think this basically means we want to:
1. Add code making extension version available from the shared library. I think for the purpose of this issue returning the version numerically (e.g. 5022,6013) would be best
2. declare the minimum required schema version supported by the shared library, that probably needs to be a define somewhere
3. during/after extension upgrades verify that the extensio

[2016-10-25 13:24] anarazel commented on #907
To clarify: It'd do so because we'd need to re-add code that populates the worker hash from the file, in InitializeWorkerNodeCache(). And we'd need to keep and test that code until we don't support upgrading from a version that still supported pg_worker_list.conf.

[2016-10-25 13:27] lithp commented on #907
Re it'd delay this release, you're absolutely right. I think it's too late to implement for this release. I'm thinking about your other points.

[2016-10-25 15:28] marcocitus opened #913 "Unsafe to run shard copy concurrently with various functions and commands"
We have a number of code paths that use placement metadata in an unsafe way, namely without first obtaining a shard metadata lock, meaning they are allowed to run concurrently with a shard repair/copy/move and might use stale metadata. Even if we do obtain a lock, we also need to make sure that changes in shard metadata made by repair/copy/move are visible once the lock is obtained. When these cod

[2016-10-25 15:29] anarazel commented on #898
I think for now erroring out is fine. I just chatted with Onder, and I personally would prefer we merge #859 without fixing this, and then go on to fix this directly afterwards.

[2016-10-25 16:06] metdos commented on #849
Working on this a bit more and also talking with @onderkalaci and consulting to @sumedhpathak, we have decided to go with UDF approach. The PR is almost ready and I will create it tomorrow morning, and hopefully merge tomorrow.

We picked the UDF approach because of
i. Code will be cleaner
ii. Also, these UDFs can be used for purposes other than upgrade process. Especially after colocate_with opti

[2016-10-25 17:21] sumedhpathak commented on #127
@anarazel noted a quick fix which reduces the probability of this occuring. We marked it as a 6.0 release item. @anarazel could you update the issue after discussion with @marcocitus

[2016-10-25 18:29] anarazel commented on #907
I don't think this is quite the right approach.  We need to essentially
make sure of the following:

The extension version may not be different than the "effective" shared
library version. Effective meaning it's the one that's currently loaded,
which will often be different from the one that's currently installed.
If that's not the case, we need to refuse to use most of citus, but we
still need to

[2016-10-25 18:41] anarazel commented on #881
On 2016-10-20 10:36:34 -0700, Marco Slot wrote:

Agreed, I think that's a lot better than the current behaviour.

[2016-10-25 18:54] #882 closed

[2016-10-25 18:57] anarazel commented on #886
On 2016-10-25 02:55:17 -0700, Marco Slot wrote:

Yea, I think that's the reason. I think that's really a bad idea, and
IIRC mentioned that during the integration, but we didn't want to change
more than necessary...

[2016-10-25 21:18] jasonmp85 commented on #714
@anarazel, is this something we should backport? Catching up on `cherry-pick`ing right now…

[2016-10-26 12:18] #886 closed

[2016-10-26 12:54] mtuncer opened #918 "master_drop_all_shards does not reset colocation id"
Encountered this when testing ```mark_tables_colocated()``` PR #915

Steps
[code]
two tables are created with colocation id = 0
[code]
both tables have the same colocation id
[code]
tables continue to have same colocation id

[code]
tables continue to have same colocation id

[code]
table t3 has preset colocation id = 0;

[code]
all three tables have the same colocation id, even though they are no

[2016-10-26 13:47] lithp commented on #907
Okay, if users skip releases I agree with you that complete backwards compatibility is likely quite difficult. I still think aiming for zero downtime should be our goal though.

Just realized that this whole thread I've been arguing against something from a private conversation but which you've never mentioned here: checking that the version matches and automatically running UPDATE if it doesn't.

[2016-10-26 14:37] #849 closed

[2016-10-27 10:49] metdos commented on #849
Just adding a note about the merged implementation.

Possible use-cases of mark_tables_colocated()

i. Upgrade from Citus 5.x to Citus 6.0. After the default upgrade process, all tables will have invalid colocation id. mark_tables_colocated() can be used to add colocation groups.

ii. We added create_distributed_table(), but didn't remove master_create_distributed_table() yet. Therefore, if somebo

[2016-10-27 11:03] #884 closed

[2016-10-27 12:27] mtuncer opened #922 "postgresql regression tests fail with crash"
Postgres crashes at multi_utility.c line 325
[code]

I build PG 9.6.0 from sources with asserts enabled, build Citus from release-6.0 branch, installed it .

Created an instance and set shared_preload_libraries to citus.

Then run postgresql regression tests with ```make installcheck```.

Tests started failing at test ```rowsecurity```.

@anarazel investigated that and found out re-using ```planso

[2016-10-27 12:34] mtuncer commented on #922
postgresql was configured with ```--enable-debug --enable-cassert```

[2016-10-27 12:48] anarazel commented on #922
The issue is that parse_analyze feels free to modify its input. Thus the parse_analyze above corrupts the copy in the plan cache, partially with allocations done in the current memory context, which doesn't survive for very long...

[2016-10-27 12:49] anarazel commented on #922
@lithp You want to fix?

[2016-10-27 13:00] lithp opened #923 "Cannot use shard pruning with ANY/ALL (array expression)"
Found when going through our documentation: http://docs.citusdata.com/en/v5.2/dist_tables/dml.html and running

`SELECT master_modify_multiple_shards('DELETE FROM github_events WHERE repo_id IN (24509048, 24509049)');`

We get the error:

`
NOTICE:  cannot use shard pruning with ANY/ALL (array expression)
HINT:  Consider rewriting the expression with OR/AND clauses.
`

[2016-10-27 14:55] sumedhpathak commented on #922
@lithp Do you know when this bug was introduced?

[2016-10-27 14:56] metdos opened #925 "Failing 2PC COPY with 1PC master_modify_multiple_shards() leads to inconsistent data"
If a 2PC Copy fails during COMMIT PREPARED phase, we leave some uncommitted PREPARE TRANSACTIONs as expected, but still allow modifications on the table. This causes data inconsistencies after PREPARED TRANSACTIONs are manually committed.

How to replicate;

Make 2PC Copy fails during COMMIT PREPARED phase by using a breakpoint at commit stage and killing the worker node which didn't get commits y

[2016-10-27 15:02] lithp commented on #922
@sumedhpathak [yesterday](https://github.com/citusdata/citus/pull/900)

[2016-10-27 15:06] anarazel commented on #922
Note that this was found via manually doing what I'm suggesting doing automatically in #877

[2016-10-27 15:07] lithp commented on #877
I'm happy to work on this

[2016-10-27 16:37] sumedhpathak commented on #925
@marcocitus my impression was that pending prepare transactions will hold on to those write locks, causing other write commands to block. Is this something we need to handle on the Citus side instead of Postgres?

[2016-10-27 18:55] anarazel commented on #925
@sumedhpathak Locks are indeed retained. But in this case there's no lock conflict because the deleting transaction didn't see the to-be-deleted rows, hence didn't try to delete them. Normally the resource locks on the master prevent that from being an issue, but those are released after the failed ```commit prepared ...;```.

[2016-10-27 18:56] anarazel commented on #925
(just as an aside: with serializable mode this would have resulted in a serialization failure)

[2016-10-27 20:17] sumedhpathak commented on #902
@jasonmp85 is looking at it, and will try repro'ing it.

[2016-10-27 20:55] jasonmp85 commented on #902
@mjaszczyk, can you post the schema you're using here, how you created your shards, how many shards, etc.? I've executed similar workloads against single- and multi- shard tables using the real-time and router executor and am not seeing anything like what you're describing. It would help to have the full reproduction steps (i.e. the table definitions themselves).

[2016-10-27 21:09] jasonmp85 commented on #902
(In particular, I've created a table with 32 shards, replication factor 1, and am using three workers, like you specify). I've been running an infinite loop of your query for fifteen minutes and haven't seen any leaks (`pg_stat_activity` on the worker shows nothing out of the ordinary).

It might also be useful to know how you've installed Citus. Is this from a package, or did you build from sourc

[2016-10-27 22:53] jasonmp85 commented on #902
Ok, I'm still coming up empty-handed. Are you interrupting queries when they run, or letting them run to completion? @ozgune wondered whether this might be related to #671, but I don't see anything in your description about cancellation.

I've tested this on PostgreSQL 9.5.4 atop Debian 8.5. I created a three-node, one master cluster using Citus 5.2.1 and a 6.0 prerelease. Querying in an infinite

[2016-10-27 23:08] saicitus opened #926 "CREATE INDEX if not exists doesn't work with distributed tables"
[code]

[2016-10-27 23:46] ozgune commented on #923
@lithp / @begriffs -- It's curious that we provided this as an example in our v5.2 documentation. Do we know if this command used to work?

Also, is this issue related to #443 or #779?

[2016-10-28 02:49] ozgune commented on #902
@mjaszczyk -- I also had two quick questions.

1. When you created the distributed table, how many shards did you create?
2. How long are you running your script for? Even when Citus closes the connection, the kernel will keep those sockets in ``TIME_WAIT`` for about 60 seconds. In that sense, seeing more sockets in ``TIME_WAIT`` for a while may be ok.

That said, Citus shouldn't be running out of

[2016-10-28 07:56] lithp commented on #923
I would assume it's not related to those tickets but I'll look into it more

[2016-10-28 13:06] onderkalaci opened #927 "Dropping a table which is referenced via foreign key does not work as expected"
Steps to re-produce:

[code]

We chatted with @anarazel on this. The simplest solution looks that we always cascade on the workers as well, which looks like a small fix .

The simple fix is two lines change in the header + fixing the conflicts with `master_expire_table_cache`, which shouldn't take more than a day including the review as well.
(Just a note, we currently only pass CASCADE to the wor

[2016-10-28 13:22] onderkalaci commented on #927
I also opened a PR #928, which needs a reviewer.

[2016-10-28 14:22] mjaszczyk commented on #902
Hi guys,
thanks for spending time on this. Your comments are very useful and I will try to provide more details. I thought that the best would be to just setup another cluster and give you access. Unfortunately I also cannot reproduce it on the new cluster, the only difference is that the new one runs on AWS EC2 while the other one on which I have this problems runs on a bare metal servers. I prov

[2016-10-28 17:26] sumedhpathak commented on #927
@onderkalaci Agreed on adding this to 6.0. Assigned @marcocitus as reviewer next week.

[2016-10-28 22:21] jasonmp85 commented on #902
Ok, I've now created a cluster of three nodes, with 32 shards, replication factor two, with fifty columns.

I've tested @ozgune's suggestions, including:

  * Taking down a node while the Python tester runs. `docker-compose` detects this and quickly removes the node from the active list, so requests stop hitting it. I get some errors but they go away.
  * Adding a bad node. Not much stuff happens.

[2016-10-28 23:57] lfittl commented on #774
Some clarifications after talking through this with @ozgune:

If we don't support DROP TABLE in transactions (i.e. as it is today), some ORM frameworks will return an error when executing a "down migration", i.e. a database change that one wants to roll back.

Note that this is also something @samay-sharma noted in #668: https://github.com/citusdata/citus/issues/668#issuecomment-245280975

Right n

[2016-10-29 00:58] saicitus commented on #224
Im not sure whether this is right issue to comment on. Seems most relevant: (Came across in 2 customer engagements.
1. Typecasting in multi-shard delete throws the following error:
[code]
2. Upsert statement with now() in where clause throws error:
[code]

Simple workaround is:
[code]

[2016-10-29 18:17] ozgune opened #930 "Always pick router executor over task tracker executor"
Citus currently has three different executors:
1. Router executor: Queries that we can push down to a worker node
2. Real-time executor: Queries that span across worker nodes -- queries that touch usually touch less than ~500 shards and don't require repartitioning
3. Task-tracker executor: Queries that span across worker nodes -- queries that touch many shards or require repartitioning

Router ex

[2016-10-29 18:37] ozgune opened #931 "Add user-defined function to temporarily remove a worker node"
With #798, we are getting rid of `pg_worker_list.conf` and adding a new metadata table: `pg_dist_node`.

From v6.0 onwards, we will introduce the worker list data in this metadata table, instead of a configuration file.

For adding/removing nodes, we will use two functions that require super-user permissions:

<pre>
master_add_node('nodename', nodeport);
master_remove_node('nodename', nodeport);
<

[2016-10-31 12:00] metdos opened #934 "Disallow master_apply_delete_command() on hash distributed tables"
Use of [master_apply_delete_command()](http://docs.citusdata.com/en/v5.2/reference/user_defined_functions.html#master-apply-delete-command) on hash distributed tables does not make sense. We should disallow this and error out.

[2016-10-31 12:44] metdos commented on #526
I reproduced this. One possible solution would be to behave similarly to failure cases. If we copy to none of the shards, we don't commit individual rows. If we copy to one shard but not others, we mark others as inactive.

[2016-10-31 14:24] mjaszczyk commented on #902
@jasonmp85 I've sent you an email with access to the test cluster on which the issue is 100% reproducable. Hope it will help.

[2016-10-31 16:47] jasonmp85 commented on #902
@mjaszczyk — to be clear, this is the aforementioned "bare metal" Debian cluster, and you still have not been able to build a second cluster that reproduces this issue?

[2016-10-31 17:44] mjaszczyk commented on #902
Sorry for misunderstanding. I gave you access to the AWS cluster. I finally get the same issue also there.

[2016-11-01 03:09] EamonZhang commented on #233
Multi-statement transactions spanning many shards +1

[2016-11-01 05:33] ChazZeromus opened #935 "master_create_distributed_table function does not exist?"
I've compiled and specified citus in `postgresql.conf`, but when I attempt do  `select master_create_distributed_table` , the function doesn't exist. `pg_log` looks okay and doesn't mention anything about Citus. This is on CentOS7 x64.

Anything I'm missing?

[2016-11-01 05:34] #935 closed

[2016-11-01 05:34] ChazZeromus commented on #935
Nevermind forgot to do `CREATE EXTENSION citus;`

[2016-11-01 09:35] #927 closed

[2016-11-01 09:57] lukashes commented on #713
Is no way to create materialized view yet?

[2016-11-01 10:36] metdos commented on #713
Hi @lukashes, we will consider to implement it while revising our priorities for next development cycle. Could you let us know about your use-case? For example, how are you planning to use materialized views?

Thanks.

[2016-11-01 10:53] lukashes commented on #713
I have about 10,000,000 rows per day in citus+cstore_fdw and if query covers 1 month - it is too slow.

I want create materialized view to keep aggregated data of last month. And refresh it after any new COPY requests into citus cluster.

[2016-11-01 11:10] metdos commented on #713
Hi @lukashes, until we implement materialized views, you can try to use distributed roll-ups and roll-up from raw data to aggregate tables similar to Cloudflare (They explain details of their architecture in this [blog post]( https://blog.cloudflare.com/scaling-out-postgresql-for-cloudflare-analytics-using-citusdb/)).

Moreover, with the upcoming release, we are adding implicitly co-located tables

[2016-11-01 13:13] lukashes commented on #713
@metdos thank you for attention.

Yes, I did the same (if I get topic right): every 5 minutes append raw data, then recalculate it. Finaly: one shard - one day. But `sum(...)` by month (about 300,000,000 rows) is really slow.

Or you mean, I need calculate 3 types of storage and save it in different distributed tables? Ex: stats_daily, stats_monthly, stats_yearly?

[2016-11-01 13:17] metdos commented on #713
Yes, I mean this. If you don't want to keep your raw data for a long time, you can delete it after inserting aggregates to aggregate tables(stats_daily, stats_monthly, stats_yearly).

Does this make sense?

[2016-11-01 14:06] lukashes commented on #713
Now I do not know. May be many inserts/deletes loads autovacuum, or table unavailability during truncating. I am going to check decision. You said about `INSERT INTO ... SELECT`...  When is planned release?

[2016-11-01 14:57] metdos commented on #713
You get it from master or release-6.0 branches. Binaries will be ready mid-November. Also, we use GitHub issues to track bug and features, but you can send your questions to the public users group:
citus-users@googlegroups.com

[2016-11-01 15:54] byucesoy opened #938 "Truncating foreign referencing table causes deadlock"
When we try to `TRUNCATE ... CASCADE` on foreign referenced table, it causes deadlock on worker nodes. That is because we send two separate `TRUNCATE ... CASCADE` command to workers, one for original table and one for referencing table. Each of these `TRUNCATE ... CASCADE` commands are sent via master_modify_multiple_shards UDF with separate transactions. They both obtain exclusive lock for refere

[2016-11-01 15:57] byucesoy commented on #938
@sumedhpathak I think we should fix this for 6.0 release. Proper fix would be using transaction API but since it will not be ready for 6.0 release, we should come up with alternative solution.

[2016-11-01 16:14] marcocitus commented on #938
I'm working on a fix for #898 that would also address this. It's basically a faster version of https://github.com/citusdata/citus/commit/9004852a1fb57cda5611d36e27c0df9d52111f57 , which doesn't have this problem.

[2016-11-01 23:11] #926 closed

[2016-11-02 10:18] #898 closed

[2016-11-02 10:18] #938 closed

[2016-11-02 10:57] marcocitus opened #940 "Deadlock when running master_copy_shard_placement in a transaction"
When calling master_copy_shard_placement in a transaction block, it may deadlock if it was preceded by another command that took a lock on the shard placement over a separate connection.

[code]

This issue was introduced by allowing DDL commands to run in a transaction block. Additionally, it now also occurs when running INSERT before master_copy_shard_placement.

[2016-11-02 11:42] marcocitus opened #942 "Deadlock when running master_run_on_worker after modification"
As it opens its own connections without checking for modifications, master_run_on_worker can easily create a deadlock if it runs in a transaction block after a modification.

[code]

[2016-11-02 11:44] marcocitus commented on #931
The current equivalent would be to delete the row from `pg_dist_node` and add it back later.

[2016-11-02 12:48] marcocitus commented on #192
Does anyone know what this means? :)

[2016-11-02 17:20] ozgune commented on #310
This particular error message came up again in a conversation and an Intercom chat this week. (+1)

Hi - I've distributed two tables with the same method and same shards count, but are partitioned on separate keys. When I do a left join on these tables, I get an error: "Shards of relations in outer join queries must have 1-to-1 shard partitioning" . Can you please explain what am I doing incorrect

[2016-11-02 21:16] ozgune commented on #512
@jasonmp85 -- are we then good to close this issue?

[2016-11-02 21:44] ozgune commented on #11
@onderkalaci -- Now that we implemented ``INSERT INTO (SELECT ...)`` with #508, what do you think about closing this issue?

[2016-11-02 21:53] ozgune commented on #17
We're currently tracking this project (MX) and its sub-tasks in #744.

@marcocitus -- What do you think about closing any issues between #17-#24 that are duplicates?

[2016-11-02 22:39] ozgune commented on #310
@onderkalaci / @marcocitus -- We also had a few internal emails where users asked about this error message. Now that we have the notion of colocated tables built into Citus 6.0, is there a way to make this error message more helpful?

[2016-11-02 22:47] ozgune commented on #852
@amosbird -- this is interesting. Could you elaborate a bit more on your motivation for doing this? In your use case, were all tables defined as distributed tables and you wanted to simplify the ``CREATE TABLE`` calls?

[2016-11-02 23:16] jasonmp85 commented on #512
I'd say yes. Closing.

[2016-11-02 23:16] #512 closed

[2016-11-03 01:46] amosbird commented on #852
@ozgune yes, I'd like current users to use distributed tables without changing their DDLs.

[2016-11-03 05:25] Verurteilt commented on #238
+1

[2016-11-03 09:19] marcocitus opened #943 "Cannot upgrade to PostgreSQL 9.6 while Citus extension is installed"
When trying to run pg_upgrade to upgrade a database with the Citus extension created from PostgreSQL 9.5 to PostgreSQL 9.6, we get the following errors during pg_upgrade:

[code]

in pg_upgrade_dump_13294.log:

[code]

This particular error is triggered by a call to DistPartitionRelationId in CitusHasBeenLoaded(), which gets called via ProcessUtility during the upgrade process. If we prevent that

[2016-11-03 09:39] anarazel commented on #943
Nasty hack suggestion: If BinaryUpgradeMode is on, fudge allow_system_mods to on in our code.

[2016-11-03 09:57] #940 closed

[2016-11-03 10:08] aamederen commented on #727
master_apply_delete_command() should block these as well:
- COPY
- INSERT/SELECT
- Rebalancer Functions
- Truncate

[2016-11-03 10:12] mtuncer commented on #943
@anarazel I did not follow what you mean by allow_system_mods

[2016-11-03 10:35] marcocitus commented on #943
I think Andres means doing something like this in the ProcessUtility hook:

[code]

I just tried this and it does actually work after also adding an IsBinaryUpgrade check to CitusHasBeenLoaded.

[2016-11-03 11:47] mtuncer commented on #943
Verified that pg_upgrade completed upon making above change and putting appropriate check to ```CitusHasBeenLoaded()```

However, pg_upgrade DOES NOT copy our metadata in pg_catalog namespace. pg_catalog.pg_dist_partition, pg_catalog.pg_dist_shard ..., all comes empty.  Also, sequences are at their default values.

This may led a user to believe their database is successfully upgraded, but cause t

[2016-11-03 17:52] sumedhpathak commented on #934
Current behavior is to error out if a 'where-clause' criteria is specified. So the effect of this is to drop all the shards for hash-partitioned tables. Agreed we should disallow entirely for hash-partitioned tables since we have master_modify_multiple_shards now.

[2016-11-03 18:21] ozgune opened #944 "Mention URLs in our error messages"
We hear questions from our users about some of our error messages. @will noted that we could mention URLs (where appropriate) in our error messages to provide more info.

For example, we could use one of the attached FAQ errors as an example:

<pre>
test=# SELECT COUNT(t.id) FROM "event" "t" LEFT JOIN "sensor" ON sensor.id = t.sensor_id;
ERROR: cannot perform distributed planning on this query
DET

[2016-11-03 18:57] ozgune commented on #693
We ran into another scenario where this message caused confusion for a Citus user.

The user issued queries that had complex joins and window functions. These queries could typically be pushed down to a particular worker node and therefore the router-executor would kick in.

For example, let's say the user was joining table ``conversions`` with table ``visits`` on an on-prem deployment. The conver

[2016-11-03 23:01] jasonmp85 opened #945 "Prepare for 6.0 release"
These instructions assume you have `$VERSION` and `$PROJECT` environment variables set in your shell (e.g. `5.2.1` and `citus`). With those set, code from most steps can be copy-pasted.

# Prepare Project

  - [x] Ensure all needed changes are in the relevant `release-` branch. `git log --cherry-pick` can be helpful
  - [x] Add a `CHANGELOG` entry in the `master` branch summarizing meaningful chan

[2016-11-03 23:19] samay-sharma opened #946 "Add column definition list for output columns for master_add_node"
Currently, when I run `master_add_node` I get the following output:

[code]

On reading this, I didn't know what each column of the tuple represented, so I tried `select * from master_add_node('localhost', 9700);` but got

[code]

However, this works and gives a formatted output for functions like `master_get_table_metadata` probably because those functions specify names and types for their `OUT`

[2016-11-03 23:22] samay-sharma commented on #946
I made a small change to the function definition of `master_add_node` and changed it to
[code]
Then, this works as expected.

[code]

[2016-11-03 23:36] fdr opened #947 "Use full libpq connection strings to configure Citus"
Right now, Citus hard-codes how the connection string used to connect to another database is created, allowing host and port specification only.  Citus's current design assumes that it, somehow, can connect to other nodes without any apparent authentication.

This is cumbersome and carries usability problems and security risks when used in conjunction with other libpq-using functionality, e.g. dbl

[2016-11-04 14:48] marcocitus commented on #947
This would probably involve adding something like a pg_dist_user or pg_dist_connection_info table containing credentials and/or connection settings for different users for each of the nodes/groups. It would maybe be 1-2 weeks of work.

I think this is worth solving because of the operational complexity of maintaining a dynamically changing text file that needs to be in sync with the distributed da

[2016-11-04 16:00] fdr commented on #947
Incorrect? You have two choices of symbols to make use of dblink connections, `dblink_connect` and `dblink_connect_u`. The former's manual page says: `Only superusers may use dblink_connect to create non-password-authenticated connections. If non-superusers need this capability, use dblink_connect_u instead.`

If you look at the latter, as the manual suggests, it says:

`If the remote server selec

[2016-11-04 16:27] marcocitus commented on #947
Uff, that is a problem. I guess we would want to set sslrootcert on all connections to workers. As a quick (1-2 day) fix, would it help if we added a GUC for injecting a partial connection string into Citus connections? e.g.

[code]

This doesn't prevent us from also introducing a separate authentication table/file, and would provide immediate relief for this issue and a couple of other ones.

[2016-11-04 16:37] fdr commented on #947
On Fri, Nov 4, 2016 at 9:27 AM Marco Slot <notifications@github.com> wrote:

Hmmm. It might not help enough relative to taking a bit longer to solve the
problem in one consistent way (the out-of-line table), provided we think
we're going to do it within six months.

There are some advantages to this approach outside its expeditiousness,
like the fact that it applies to all citus connections: this

[2016-11-04 17:52] hareteam opened #948 "Whether citus is suitable for online transactions"
I would like to ask, citus is suitable for online transactions (like EBay, Amazon, etc.), thank you。
For example: In a transaction,write recorders  into more than one table 。

[2016-11-04 18:25] jasonmp85 commented on #943
Unrelatedly, _called to early?_ is a typo and looks bad.

[2016-11-04 18:31] ozgune opened #949 "INSERT INTO ... SELECT error message needs to be more informative"
We're going to have ``INSERT INTO ... SELECT`` available with our upcoming release.

For example, let's say the user runs the following steps.

1. Create distributed table t1(a int, b int), populate table
2. Create distributed table t2(a int8, b int8)
3. Insert Into t2 Select * From t1;

We then display the following error message:

<pre>
ERROR:  SELECT query should return bare partition column on

[2016-11-04 18:33] jasonmp85 commented on #943
I'm not horribly familiar with `pg_upgrade `, but can't we tell which "side" of the upgrade we're on by checking the `PGVERSION` in our code?

Maybe we can copy metadata rows to a user table during the `9.5` phase, then copy them back into the catalog tables during the `9.6` phase (I guess in the extension load hook?)

Just spitballing.

[2016-11-04 18:49] ozgune commented on #948
@hareteam -- We'll reply to the question on in the [mailing list shortly](https://groups.google.com/forum/#!topic/citus-users/GJA9G6nOPcQ).

I'll close this issue in favor of the mailing list conversation. If you'd like to have a more interactive conversation, please also feel free to ping us over Slack.

[2016-11-04 18:49] #948 closed

[2016-11-04 18:54] sumedhpathak commented on #946
Assigning to Eren. @ozgune / @marcocitus What do you think about back patching this into 6.0? (Seems like a simple change)

[2016-11-04 19:26] marcocitus commented on #946
Works for me, would be a simple upgrade script with drop function + create function.

[2016-11-05 05:53] marcocitus commented on #943
Not really, 9.5 code is not executed at pg_upgrade time afaik.

[2016-11-05 18:20] ozgune commented on #902
@mjaszczyk / @jasonmp85 -- I wanted to send a quick ping on this issue.

I heard that we had a working theory and just wanted to check it in here. Was the issue that psycopg2 / example script kept transactions open, and that as a result Citus held onto resources associated with open transactions?

[2016-11-05 18:28] BrnoPCmaniak commented on #549
Just workaround for #698 for anybody coming across this:
https://docs.djangoproject.com/en/dev/ref/models/fields/#django.db.models.ForeignKey.db_constraint

[2016-11-05 20:45] ozgune commented on #844
I wanted to document two alternatives on the user api front. As we talk about these APIs, let's also talk about their timelines on the engineering side.

Let's say that we have a multi-tenant application that has a few tables. In v6.0, we'd create these tables in the following way:

<pre>
CREATE TABLE company (company_id text, ...);
SELECT create_distributed_table('company', 'company_id');

CREATE

[2016-11-07 05:18] onderkalaci commented on #949
I was supposed to open this issue but ran a bit late. Let me update the issue with my understanding and some details.

First, some discussion on this on the testing document:

@onderkalaci says

and @ozgune replies with the following:

As it stands, it reads like a message from Star Trek that talks about warp core breaches and anti-matter.

Now, let me share my understanding on the issue in detail

[2016-11-07 08:09] mjaszczyk commented on #902
@jasonmp85 found an explanation for "too many open files" issue which are temporary tables (`.../9.5/main/base/xxxxxx/t2_*`) created on master. They are not being released until transaction is finished. Psycopg2 seems to be opening the transaction by default (http://initd.org/psycopg/docs/usage.html#transactions-control). The issue can be avoided by enabling `autocommit` on the connection. In my o

[2016-11-07 18:37] onderkalaci opened #951 "Relax the locking on INSERT INTO ... SELECT queries"
For replication factor > 1, by default, we acquire `ExclusiveLock` on all the shards that the `SELECT` query hits during the query execution. This ends up blocking `INSERTs` (`UPDATEs` and `UPSERTs` as well) on those shards.

The locking logic is implemented on [`RequiresConsistendSnapshot()`](https://github.com/citusdata/citus/blob/master/src/backend/distributed/executor/multi_router_executor.c#L

[2016-11-07 19:06] mtuncer opened #952 "Create distributed table colocation error message is not informative"
1. Create a distributed table,
2. Kill one of the workers
3. Create another distributed table

Result
Table creation fails with an error message saying second table can not be colocated with the first one, user did not wanted to colocate the table, just wanted to create a distributed table. We should provide a better message saying what to do here.

[2016-11-07 19:06] marcocitus commented on #951
Another option is to only execute the SELECT query on one placement and copy the results over to the other placement, this would also enable function calls.

[2016-11-07 19:13] mtuncer opened #953 "Table colocation does not check changes in pg_dist_node"
Steps

1. Created a distributed table,
2. Removed a worker using master_remove_node
3. Created another distributed table

Result
New table is colocated with the old table, and shards are created on a removed worker.

Expected:
An error message, or anything other than creating shards on a worker that is not in the cluster.

[2016-11-07 19:16] onderkalaci commented on #953
Wouldn't removing a node error-out if there exists any active placements on it?

When I try the above, I get `ERROR:  you cannot remove a node which has active shard placements`

[2016-11-07 19:17] onderkalaci opened #954 "Discuss further for shard health states on INSERT INTO ... SELECT queries"
We currently error out if any of the placements on the `SELECT` query is invalid.

Why we need such a restriction: If we `SELECT` from an `unhealthy` placement and `INSERT` that into a `healthy` placement, the inserted placement becomes `unhealthy` since it got data from a stale/old placements.

Note that if `replication factor = 1`, we never have placements with `unhealthy` states. So, this issue

[2016-11-07 19:22] onderkalaci commented on #954
Just a note I've realized:
```DETAIL:  Insert query cannot be executed on all placements for shard 1000032``` should be
```DETAIL:  Insert query could not be executed on all placements for shard 1000032```
with respect to the postgres [Error Message Style Guide](https://www.postgresql.org/docs/9.5/static/error-style-guide.html
)

[2016-11-07 19:24] aamederen commented on #953
During my tests, If I quickly do the master_remove_node, before any shards are placed on the node, then it does not error out and remove the tuple from `pg_dist_node`.

[2016-11-07 19:26] mtuncer commented on #953
Corrected the description. I thought I used master_remove_node, apparently I deleted row from pg_dist_node directly.

[2016-11-07 19:33] mtuncer opened #956 "Dropping a distributed table drops shards from worker no longer in the cluster"
1. Created a distributed table,
2. Removed a worker from pg_dist_node by deleting the row
3. Drop the distributed table

Result:
Shards in the removed worker are stills dropped even though the worker is not in the cluster anymore.

Expected:
Not that. Error/warning message perhaps.

Maybe we should have some sort of trigger to prevent manual changes in pg_dist_node.

[2016-11-07 19:35] metdos commented on #952
@mtuncer, user will want to have faster joins, foreign key constraints etc. Do you have any suggestions?

[2016-11-07 19:42] metdos commented on #953
This is not the recommended way right. The user shouldn't update catalog tables just like this.

[2016-11-07 19:45] metdos commented on #956
I really think that the user shouldn't mess up with the metadata like this.

[2016-11-07 19:47] aamederen commented on #953
I remember that @marcocitus requested this, I couldn't remember the use case though.

Anyway, the problem still exists since I could reproduce this problem with a well-timed `master_remove_node` call.

[2016-11-07 19:48] mtuncer opened #957 "Unhelpful error message when inserting a new row to non-distributed table with foreign references to a distributed table"
t1 is reference, t2 is referring table
[code]
Now try to add a new row the referring table that is not distributed yet
[code]

Error message has nothing to do with the actual error. We just haven't created a distributed table yet.

I reckon that this is a highly unlikely case.

[2016-11-07 19:55] mtuncer opened #958 "Distributed foreign table creation fails with confusing message when column types are different"
[code]

Result
[code]
Expected:
Error message should direct user to use same types in referrring and referred columns.

[2016-11-07 21:02] mtuncer opened #959 "Copy does not roll back"
aborting a transaction does not rollback ```copy```'ed rows. A warning message would have been nice.

[code]

Note : There is a discussion in transactional behavior for copy [here](https://github.com/citusdata/citus/issues/666)

[2016-11-07 21:27] mtuncer opened #960 "truncating append distributed table within transaction gives incorrect error message"
[code]

error message talks about drop distributed table even though I issued truncate.

[2016-11-07 21:35] ozgune commented on #902
@mjaszczyk -- sure thing. I'm planning to close this issue. If you have any reservations, could you let us know?

I think we had two issues that were related to each other.

1. PostgreSQL / Citus holds onto certain resources until the end of a transaction. If the client doesn't commit a transaction, PG / Citus eventually runs out of resources. We talked about documenting this behavior in a separat

[2016-11-07 22:56] sumedhpathak commented on #959
@marcocitus Is this expected behavior? @mtuncer Could you try to see if 5.2 exhibits the same behavior?

[2016-11-07 23:02] #946 closed

[2016-11-07 23:12] onderkalaci opened #961 "Improve SQL Coverage for INSERT INTO ... SELECT"
There are a few limitations that we could overcome as needed. I'm listing all of them in a single issue for the time-being. As we decide to implement, we could create separate issues and fix them one by one.

**1. Function evaluation:**

* Citus cannot push-down volatile and stable functions. I think, is is trivial to allow to those functions if replication factor = 1.
* For volatile functions whi

[2016-11-08 01:08] marcocitus commented on #959
Yes, this is how copy always worked. It's from before anything supported transaction blocks. We could rework it to use the multi_shard_transaction API now, though this will require a bit more work as of 6.0 because of the colocation changes.

[2016-11-08 01:10] marcocitus commented on #959
Note that it does roll back on any error that occurs during the copy.

[2016-11-08 07:47] mjaszczyk commented on #902
Fully agree with you @ozgune although @jasonmp85 might be still working on the query latency issue which we observed on my test setup.

[2016-11-08 18:23] mtuncer commented on #943
there is a [discussion](https://github.com/citusdata/citus/issues/200) on CitusHasBeenLoaded()

[2016-11-08 18:25] metdos opened #962 "Remove reference tables from pg_dist_colocation table"
We added a new UDF to create reference tables with #892. We also use a valid colocation id for reference tables to determine reference tables by quickly checking the shard count on pg_dist_colocation table. Though, the name of pg_dist_colocation becomes a bit misleading because there is no colocation concept for reference tables.

Two options are;
i. Renaming pg_dist_colocation to something like p

[2016-11-08 18:57] onderkalaci commented on #962
Two references tables are co-located with each other, aren't they? For instance, we could potentially create foreign keys among the reference tables and run `INSERT INTO ref_table SELECT * FROM other_ref_table`. Both operations require colocation relation among the tables.

 Similarly, a reference table is not colocated with other tables. If we don't have an entry on pg_dist_colocation, understand

[2016-11-08 19:12] ozgune commented on #947
@fdr / @marcocitus / @craigkerstiens -- we're going to talk about this in our v6.1 reprioritization sync-up. Is my understanding of this thread accurate?

* We had three motivations for #947. The primary one was using dblink without needing to be super-user. @fdr then realized that we use dblink today without making this change.
* For the two other motivations, @marcocitus proposed a quick workaro

[2016-11-08 19:17] fdr commented on #947
Medium. It's somewhat important and I'd like to see it solved within six
months, but it's not worth a hasty fix.

On Tue, Nov 8, 2016 at 11:15 AM Ozgun Erdogan <notifications@github.com>
wrote:

[2016-11-08 19:32] ozgune commented on #902
@mjaszczyk / @jasonmp85 -- Could you elaborate a bit more on the query latency issue? Is it related to #902?

[2016-11-08 19:40] jasonmp85 commented on #902
@mjaszczyk I do think the other latency issue is `autovacuum`-related, so I'll look into whether we that might be having an adverse effect on our latencies, but I can say that e.g. Citus Cloud has carefully tuned such settings to avoid that issue altogether.

[2016-11-08 19:41] metdos commented on #847
I think that  colocate_with => 'all' means "create a reference table". Therefore, I'm keeping 'all' option out of the scope of this issue. Or do we want to create reference tables also with create_distributed_table() UDF?

[2016-11-08 19:43] #902 closed

[2016-11-08 21:19] ozgune commented on #861
We talked about this in an internal email thread, and I'm adding the email thread to here.

--
IIRC, we sent our writes to shard placements in a deterministic order. That is, if a shard has two placements, we always first send our writes to placement-a and then to placement-b.

I created two tables main and reference, and distributed them by hash on (a) and (x) respectively. I then inserted values

[2016-11-08 21:22] mtuncer opened #963 "pg_upgrade fails in CitusHasBeenLoaded()"
pg_upgrade fails during restore phase when it issues a utility command which in turn calls ```CitusHasBeenLoaded()``. This function sees that an extension loaded and tries to get OID of pg_dist_partition table which was not created yet and fails with error.

We should fix the function such that it won't fail with error during upgrade. returning false should be sufficient.

Hint : ```IsBinaryUpgrad

[2016-11-08 21:29] mtuncer opened #964 "pg_upgrade does not create citus metadata tables"
Citus metadata tables reside in pg_catalog. These tables are not created on the new instance during pg_upgrade.

Citus metadata tables should be created on the target instance.

following code snipped in PG_Init() should fix table creation part.
[code]

Check out [postgresql documentation](https://www.postgresql.org/docs/9.6/static/extend-extensions.html) for ```pg_catalog.pg_extension_config_dump

[2016-11-08 21:36] mtuncer commented on #943
Me, Ozgun, Marco, and Sumedh had a discussion on the issue and alternate approaches.

## pg_upgrade failures and fixes

There are few issues that prevented pg_upgrade from working.

### 1 - A utility call during restore step calls CitusHasBeenLoaded which fails with the following error.
[code]
This is caused by our fix to a different bug (drop extension) which decides load state by also checking e

[2016-11-08 21:41] mtuncer commented on #943
@anarazel responded

About upgrade workaround

About ```SetConfigOption("allow_system_table_mods", "true", PGC_POSTMASTER, PGC_S_OVERRIDE);```

About correctness of OIDs in metadata tables after upgrade

.

[2016-11-08 21:58] onderkalaci opened #965 "Transactions with DDL on a reference table and INSERT INTO ... SELECT deadlocks"
Though it doesn't look a common pattern, the following scenario leads to a deadlock:

[code]

The reason for that is the reference table is not colocated with the raw_events_first. Thus, we don't send the query from the same connection as the DDL command. In the end, both connections wait for each other.

Note that, we fixed this for DDL commands on colocated table + INSERT INTO ... SELECT with #9

[2016-11-09 00:14] metdos commented on #847
I think @onderkalaci has a good summary of what to be implemented above. Here is what I'm planning to implement with minor updates above.

**1- Default option:**

This is the current behavior of the distributed colocated table creation. If there is a collocation group with the same configuration, use it. Otherwise, create a new colocation group. Both of following two options will be implemented:

[2016-11-09 00:50] onderkalaci opened #966 "Reference Tables: Transactional behaviour"
With #879 we're planning to propagate the DML changes to reference tables via 2PC. There are two alternatives to implement this:

(i) Add 2PC capabilities to router executor
(ii) Use existing multi-shard transaction API which already implements 2PC

**Comparison of both approaches:**

The basic behaviour would be the following: Whichever approach we pick, intermixing the other transaction type wou

[2016-11-09 00:58] onderkalaci opened #967 "Reference tables: MX integration"
Reference tables would have a single shard with replication of (# worker nodes). This means that we need to ensure the DML queries on them are serialized.

There seems two ways of implementing that:

* Push down the shard resource locking mechanism to the first placement of the reference table. In that way, the concurrent modifications are serialized in a manner that the session which acquires the

[2016-11-09 01:41] onderkalaci opened #968 "Reference Tables: Foreign Keys"
Reference tables would have a single shard with replication of (# worker nodes). However, with #698 we considered to not allow foreign keys with replication factor > 1. In that sense, supporting foreign keys for reference tables become tricky. We didn't add this issue to MVP for 6.1.

The main problem with that is a concurrent arbitrary multi-shard modification could run in an order such that the

[2016-11-09 17:04] onderkalaci opened #969 "Reference tables: Make them explicit"
Reference tables would have a single shard with replication of (# worker nodes).

They would have some different characteristics such as replication, DML execution path and foreign key constraints compared to ordinary distributed tables.

This means that we should come up with a representation in the metadata to distinguish reference tables.

Some thoughts on this:
(i)  We could use pg_dist_coloca

[2016-11-09 17:17] onderkalaci opened #970 "Reference Tables: Upgrade Path"
Existing customers might already have existing reference tables. We should provide a way to make (or mark) them as reference table as defined in #969.

The things that we need to consider:

* The existing reference tables might not be replicated to all nodes (i.e., replication factor != worker count)
* The existing reference tables might have  `1 <= shard count <= 4 (large_table_shard_count)`.  Bu

[2016-11-09 17:23] metdos commented on #969
I think another option was (iii) to use another partition method (such as 'all' or 'reference' instead of 'hash', 'append' etc.). However, this change would require more changes in different code paths.

[2016-11-09 17:38] onderkalaci opened #971 "Reference Tables: Adding a new node"
Reference tables would have a single shard with replication of (# worker nodes).

In an ideal world, when a user adds a new node with `master_add_node()`, the reference tables should  be replicated to the new node.

The simplest approach looks like using the infrastructure we have for `master_copy_shard_placement()`.

Directly using `master_copy_shard_placement()` would fail on citus-public repo.

[2016-11-09 22:24] onderkalaci opened #972 "Reference Tables: Removing a new node"
Currently, when user tries to remove a node from the cluster, and if there exists an active placement on it, the user ends-up with an error:

[code]

However, if  there exist any reference tables on the cluster, it'll always be on all nodes and be in an active state. Thus, removing a node becomes impossible.

The simplest way would be to error out with a descriptive message saying that manually re

[2016-11-09 23:47] aamederen commented on #972
Actually, when we call `master_remove_node`, I believe in the proper fix, we should error out if and only if that node contains any one and only active placement of a shard i.e. we lose the data of a shard.

[2016-11-10 00:42] #179 closed

[2016-11-10 00:50] onderkalaci commented on #965
As far as I can see (and discussions with @marcocitus), this kind of deadlocks could occur on a very specific use case where we have DDL on a non-colocated table and INSERT INTO ... SELECT that hits the table.

So, the simplest solution looks like we error out if a DDL and INSERT .. SELECT happens in the same transaction.

To implement this, we could potentially add a new flag such as: `HAS_DONE_D

[2016-11-10 01:15] lithp commented on #930
Murat [agrees](https://github.com/citusdata/citus/blob/master/src/backend/distributed/planner/multi_router_planner.c#L2369) this should be changed :smile:

[2016-11-10 02:50] metdos commented on #844
We had a nice long conversation about this topic. I'm listing items we have discussed with decisions and open issues.

1- (Addresses Proposal 1.4) We decided to have two separate functions to implement this feature. Differently from Proposal-3, and similar to Proposal-1 and Proposal-2 above, these functions can be called anytime.

- First split shard on the same machine for the given tenant id
[co

[2016-11-10 18:42] ozgune commented on #424
When working on the int8 -> int4 change, we found out a scenario where the user needs to pay special attention during the upgrade. @anarazel therefore opened an issue (#907) to propose improvements to the safety of extension upgrades. This proposal would allow us to safely upgrade the Citus extension even when we change a metadata table's column type.

I'm therefore removing the v6.0 tag from this

[2016-11-10 18:45] ozgune commented on #698
@byucesoy -- Now that we have foreign keys implemented in v6.0, are we good to close this issue?

[2016-11-10 18:50] ozgune commented on #847
I'm noting #694 and #695 as related issues for documentation purposes.

[2016-11-10 18:51] ozgune commented on #695
@onderkalaci / @metdos -- Now that we have the colocation APIs in v6.0, I'm closing this issue. If you think we have open questions related to this issue, please feel free to reopen it.

[2016-11-10 18:51] #695 closed

[2016-11-10 18:52] ozgune commented on #694
@metdos -- Now that we have new table creation APIs in v6.0, I'm closing this issue. If you think we have open questions related to this issue, please feel free to reopen it.

[2016-11-10 18:52] #694 closed

[2016-11-10 18:56] ozgune commented on #127
We merged in #914 and #916 to address the probability of this issue occurring. I'm therefore removing the v6.0 milestone (part) from the issue.

[2016-11-10 19:12] ozgune commented on #890
I'm also adding our parent issue on regression test improvements (#347) to this issue. This issue tracks 13 active issues related to regression test improvements and 7 issues that we already resolved.

[2016-11-10 19:31] ozgune commented on #508
We merged this feature in pull request #859 and I'm removing the v6.0 milestone based on this.

We also talked about several issues that relate to the default customer experience in the [second part of this comment](https://github.com/citusdata/citus/issues/508#issuecomment-217660634). I'm keeping this issue open until we resolve #949, #951, and #954.

[2016-11-10 22:22] ozgune commented on #931
I'm adding the v6.1 milestone with the intent to spend about a day on this and see if we can agree on a quick fix.

[2016-11-10 22:24] ozgune commented on #951
I'm adding the v6.1 milestone with the intent to spend about a day on this.

We internally talked about two alternatives: (a) evaluate dropping the default replication factor to 1 and do noting or (b) introduce a GUC that by default bypasses this lock.

[2016-11-10 22:26] ozgune commented on #913
I'm adding the v6.1 milestone with the intent to spend a day on this and to document scenarios where we could have safety issues.

[2016-11-10 22:30] lithp opened #977 "CREATE SEQUENCE doesn't propagate to workers"
This is unfortunate if you want to `CREATE SEQUENCE` and then `ALTER TABLE SET DEFAULT nextval()`.

I had thought there was already a ticket for this but can't find it.

[2016-11-10 23:37] marcocitus opened #978 "NULL parameters are incorrectly passed down as text"
This comes up mainly when using EXECUTE on a PL/pgSQL function. The following unexpectedly throws an error on the worker, not the master, because we pass down the type of a NULL parameter as text rather than the original type, which is required.

[code]

This is likely triggered by:
https://github.com/citusdata/citus/blob/master/src/backend/distributed/executor/multi_router_executor.c#L1391

[2016-11-11 17:24] byucesoy commented on #698
We only have foreign keys if they are created in CREATE TABLE statements. We do not push down foreign key creation for ALTER TABLE queries. We have open PR for it #876 but it needs some heavy refactoring at the moment. We can either:
- Close this issue when we merge #876
- OR Close this issue and add another issue for supporting foreign keys with ALTER TABLE queries.

[2016-11-11 21:19] onderkalaci commented on #760
It looks like we're going to re-visit the replication factor and set it to (#worker nodes) for reference tables. Then, we'll run a 2PC while modifying the reference tables.

Since shards would be replicated to all nodes, the queries will work.

I'm noting here that we should add regressions test that specifically targets this use-case when we close the issue.

Also, given that `INSERT INTO ... SEL

[2016-11-11 21:24] onderkalaci commented on #11
The link is dead, so I cannot see what the UDF is intended for. If it only intends to make `co-located` roll-ups, `INSERT INTO .. SELECT` already does that with a wide SQL coverage. But, if it intends to run arbitrary multi-shard roll-ups, it might make sense to keep the issue open.

[2016-11-11 21:33] onderkalaci commented on #715
I don't see anything preventing that considering single-shard reference tables. Though, we should add a regression test for this while closing the issue.

[2016-11-11 21:41] ozgune commented on #11
Good point. The intent with this user-defined function was to roll-up data from a source distributed table to a target colocated table. I'm therefore closing this issue.

[2016-11-11 21:41] #11 closed

[2016-11-11 22:06] ozgune commented on #847
@samay-sharma, @saicitus, and I just looked at this api proposal. Here's a summary of our conversation.

* We all agreed that ``colocate_with -> ''`` could signal that the current table shouldn't be colocated with any of the other tables. We therefore decided to use ``colocate_with -> 'default'`` to provide the default colocation behavior. (Section 1: Default option)

* For ``colocate_with => 'non

[2016-11-12 00:57] #978 closed

[2016-11-12 01:09] onderkalaci commented on #968
Note that we could allow foreign keys among reference tables. The reason is that they'd be single sharded and the above case does not apply for a single shard distributed table.

I'll also double check this with @marcocitus

This is also semi-related to #962.

[2016-11-12 01:12] marcocitus commented on #968
The replication factor issues would still apply, e.g. #861 (also need to take appropriate shard resource locks for cascading delete/update).

[2016-11-12 01:14] mtuncer commented on #964
```pg_extension_config_dump()``` does not copy ```pg_catalog``` tables.

Limiting this issue's scope to table creation only, and opening a separate issue on copying contents.

[2016-11-12 01:15] marcocitus commented on #861
Yes, currently in placement ID order, but this should probably be node ID order since placement ID changes after a shard move and may thus follow a different order.

No, the deadlock is on row-level locks, not shard resource locks.

No, we don't currently support foreign keys for replication factor >1.

[2016-11-12 01:18] ozgune commented on #693
We talked about this error message earlier this week; and I wanted to add a summary here.

Our users are nicely relying on the router executor for their queries. Then, something unrelated to their application changes, Citus emit an error message (from the real-time executor), and they get confused. This change could happen in one of three ways:

1. Colocation and invalid shards -- If the user is u

[2016-11-12 01:19] mtuncer opened #980 "pg_upgrade does not copy citus metadata table contents set table dependencies"
After fixing #963 and #964 we can create citus metadata tables during pg_upgrade. But we still can not :
- copy metadata table contents
- set current sequence values
- establish dependencies between distributed tables and citus extension in pg_depend
- register truncate trigger with distributed tables

We use some pre/post script to complete migration. It would be nice if there is a more streamlin

[2016-11-12 01:20] mtuncer commented on #943
also opened #980 to track non-addressed parts

[2016-11-12 01:33] #963 closed

[2016-11-12 01:35] mtuncer commented on #964
fixed by #973

[2016-11-12 01:35] #964 closed

[2016-11-12 01:37] mtuncer commented on #943
removed high priority label since changes with partial fix is merged.

[2016-11-12 01:41] mtuncer commented on #980
https://github.com/citusdata/citus/issues/99 is related to this one

[2016-11-12 02:14] saicitus commented on #499
Just copying comments from #789 and closing it because it seems to be a duplicate.

**Comment 1**:
Running a special test locally, with extra elog() calls, it seems that multi_planner.c receives the standard plan, but NeedsDistributedPlanning() returns false. NeedsDistributedPlanning() returns false because it only walks simple relation references to determine hasDistributedRelation. I don't know

[2016-11-12 02:18] saicitus opened #981 "SQL functions(called by SELECT * FROM) with parameters throw wrong results"
[code]
The below test throws wrong results. The query doesn't run on the distributed table.
[code]

[2016-11-12 02:18] saicitus commented on #789
Closing this issue and created a new related issue #981

[2016-11-12 02:19] #789 closed

[2016-11-12 19:34] ozgune commented on #183
@koeninger -- yes, this approach could also work depending on your use-case. I can think of three points to consider:

1. (as you noted) How many distributed tables are you going to end up with? If you're going to create a new table for each minute's worth of data, you'll end up with too many tables. As a result, query performance will degrade.
2. Citus doesn't yet support ``UNION ALL``. For now,

[2016-11-12 19:38] ozgune commented on #183
This issue recently came up in a conversation in our [Slack channel](https://citus-public.slack.com/archives/general/p1478889921001755). I wanted to make a note of it here.

[2016-11-13 20:41] anarazel opened #982 "EXPLAIN EXECUTE broken (parameters)"
Due to the fix for #900 EXPLAIN EXECUTE, now basically replans the query. The way that's currently done has two problems:
- If parameters are present, the query will fail to be preparable on workers, because the parameters are not present (as they're not extracted from the EXECUTE statement)
- Even if that issue weren't present, EXPLAIN would now give wrong query results, because we replan everyti

[2016-11-13 20:46] anarazel commented on #982
Hm, also, doesn't the current approach also break this for non-distributed queries?

[2016-11-14 00:10] anarazel commented on #982
FWIW, I have a prototype fix for this. It's a bit invasive, but I do think it's the solution. Will open PR.

[2016-11-14 00:12] anarazel commented on #904
I have a prototype of this. Seems to work. There's two difficulties:
- It doesn't work for ```LANGUAGE sql``` type functions (plpgsql etc is fine)
- I've not yet figured out how to avoid a slowdown if prepared statements were used in a previously supported manner. We'd now plan considerably more often.

What do you guys think, are those acceptable tradeoffs? Or do we need to figure something out f

[2016-11-16 01:46] amosbird opened #983 "Prepared inserts via JDBC fail when containing VARCHAR."
Step to reproduce:
[code]

encountered error:
[code]

I dig a bit further. It seems passing default econtext is not covering all cases,
[code]
which leads to
[code]

[2016-11-17 00:53] marcocitus commented on #983
It seems that the problem is a little more general and relates to prepared statement parameters being referenced in stable function calls:

[code]

[2016-11-17 00:59] marcocitus commented on #983
Due to the recursive way in which the function evaluation works, passing down the econtext requires a lot of refactoring. A simpler fix could be to more or less treat parameters as columns, meaning we push the function call down to the worker. Technically, this could give different results on different replicas and shards, but probably won't since the reason these functions are stable is primarily

[2016-11-17 07:11] maestrofx opened #984 "[Citus 6] Sharded data not balance in some workers"
Hi all,
My team has been working on tens of gigs data with the power of Citus 6.
I found weird behaviour in the sharding process.  Say 1 master with 3 workers.
The data sharded was not balanced. Only in spesific sharded table in worker 1.
Based on Citus documentation,  rebalance_table_shards() is only available in Citus Enterprise.

For later, we consider to use the Citus Enterprise in production,

[2016-11-17 17:18] metdos commented on #983
Related to #306

[2016-11-17 23:59] onderkalaci commented on #984
We have the same conversation on [citus-users group](https://groups.google.com/forum/#!topic/citus-users/1bsWiPsVdt0), so closing the issue.

[2016-11-17 23:59] #984 closed

[2016-11-18 00:21] lfittl opened #985 "Permissions: Enable non-superusers to query all pg_dist_ tables & sequences"
How to reproduce:

[code]

Expected:

[code]

This is a somewhat cosmetic issue, but the real problem happens when you try doing a structural pg_dump, as tools like Rails' migration framework do, which will error out like this:

[code]

After talking with the team there doesn't seem to be a good reason that we restrict permissions here.

Proposed fix would be the following, which fixes the Rails m

[2016-11-18 00:25] anarazel commented on #985
Hi,

On 2016-11-17 16:21:55 -0800, Lukas Fittl wrote:

I think that makes sense.

I don't think this even remotely warants divergence. That's a bad
pattern we should reduce, not increase.

[2016-11-18 00:32] lfittl opened #986 "Permissions: Add Citus Tools by default"
In 6.0 we added [citus_tools.sql](https://github.com/citusdata/citus/blob/master/src/backend/distributed/master/citus_tools.sql) - which is an essential tool for most setup we encounter. Unfortunately we don't load the citus tools by default, which means the user has to add them in.

There is two issues at hand right now:

1) `master_run_on_worker` can't be created as a non-superuser (i.e. citus u

[2016-11-18 17:47] mtuncer opened #987 "Productize PostgreSQL upgrade steps with Citus"
Upgrading PostgreSQL from 9.5 to 9.6 have few non trivial steps that pg_upgrade does not perform.

One first upgrade to Citus 6.0 on existing PostgreSQL instance, then upgrade postgresql version to 9.6.

The first one is trivial, ```alter extension citus update``` takes care of everything needed. However,  the second part requires more attention on master.

1. backup citus metadata
1. run pg_upgra

[2016-11-18 18:23] mtuncer commented on #987
Realized I have this issue open with different wording at #980

[2016-11-18 20:17] anarazel commented on #982
FWIW, I have a prototype fix for this. It's a bit invasive, but I do think it's the solution. Will open PR.

[2016-11-18 22:37] onderkalaci commented on #844
Two notes / open questions:

1 -

I was expecting this to be the default behaviour instead of explicitly providing `CASCADE` option. Wouldn't users want to split colocated shards all together?

Say you have `users` and `events` tables, both partitioned on `user_id`. Do we want only one of the table's shard splitted? I think, without being able to run  split operation within a transaction, this wou

[2016-11-19 04:44] derekperkins commented on #425
+1

[2016-11-21 05:58] metdos opened #989 "Tests: Automate Test Cluster Creation"
We should create an automated system to create test cluster easily.

[2016-11-21 06:04] metdos commented on #989
@lithp, could you think about possible solutions and how much time they will require?

We used to use Cloudformation for this, it seems as one of the good options.

[2016-11-21 06:05] metdos commented on #989
Related to #890

[2016-11-21 06:09] metdos opened #990 "Tests: Automate Integration Testing"
We would like to automate all integration tests;

Citus Enterprise
CloudFormation
Shard Rebalancer
cstore_fdw
postgresql_hll (already have regression tests)
session analytics + hstore

[2016-11-21 06:09] metdos commented on #990
Related to #890

[2016-11-21 06:09] metdos commented on #990
@lithp, could you think about possible solutions and how much time they will require?

[2016-11-21 21:49] sumedhpathak commented on #968
Noting example from a contact from our docs repo:

I ran into a related issue with the next table:

[code]

[code]

**Can one reference table _reference_ another?**

When I instead try to distribute `my_second_table`

[code]

I get the following error:

[code]

**Can a distributed table _reference_ a reference table?**

[2016-11-22 09:26] Baznu opened #991 "any values support"
Is it possible to integrate support of any values to citus?

With Citus 6 I get the following error:

I could use IN or ANY(ARRAY... ) expression, but that way is much slower.
Seems like there are similiar experiences/requests in issue: #443 and #779

It's a postgres related problem, that the queryplanner is kinda slow with IN(<huge list of primitives>) and the best way I found to get around this

[2016-11-22 10:29] mtuncer opened #992 "Function evaluation does not work for non-relational parameters in router planner"
Hit this issue while looking at https://github.com/citusdata/citus/issues/751.

Basically, router planner does not evaluate functions when constructing a worker query.  This was not an issue before, but some power users may get into unexpected problems if their queries contain a function call that uses a instance state different between master and workers.

Repro steps.

say there is a table main_

[2016-11-22 22:15] xarg commented on #425
Big +1 here as well. Has anybody started working on this yet? If so I'd like to help out!

[2016-11-22 22:31] samay-sharma commented on #719
We have a few decisions to make here on what we support and the user behavior. These are the items I can think of :-

(a) Do we support just VACUUM tablename or do we also support VACUUM?

(b) Do we want VACUUM to always be parallel when we run VACUUM tablename?

(c) Which VACUUM arguments do we want to support (VERBOSE, FULL, FREEZE etc.)?

(d) What is the default behavior of VACUUM; and do we ma

[2016-11-22 22:57] jasonmp85 commented on #719
FWIW I do not consider parallelism to be negotiable. We _must_ run the commands in parallel.

[2016-11-22 22:57] lithp commented on #719
I've already talked with Jason but want to record it here as well:

Andres apparently brought up some technical difficulties with this idea but I think our goal is to minimize the amount of cognitive overhead for our users. They shouldn't have to remember yet another way Citus is different than Postgres.

In keeping with this principle:

We should support naked VACUUMs. I think we can agree that t

[2016-11-22 23:00] jasonmp85 commented on #719
Quoth  @anarazel:

[2016-11-22 23:03] lithp commented on #719
There are two possible ways that can be interpreted:

That sounds terrible and I agree, but that's not incompatible with attempting to push down by default, without halting the entire operation if the pushdown fails.

Why?

[2016-11-22 23:05] jasonmp85 commented on #719
The example given is that a master node needs to be started in single-user mode to execute `VACUUM` against certain tables to address an xid wraparound. If vacuuming the remote tables takes a very long time (maybe the majority of a day), it is _not_ very pleasant to have no straightforward options. Basically, it would be nice to be able to start up, fix the local problems, and be done with it.

[2016-11-23 00:20] ozgune commented on #719
@samay-sharma documented example use-cases related to ``VACUUM`` (re: Vacuum use cases). I'm capturing @samay-sharma's notes below.

* User AA: They regularly load data into a hash distributed table. They then expire last day's worth of data from the table and then manually run ``VACUUM`` on that table.
* User BB: They run ``VACUUM ANALYZE table_name`` for index only scans. "We import to a monthly

[2016-11-23 00:30] ozgune commented on #719
We went over the examples in [this comment](https://github.com/citusdata/citus/issues/719#issuecomment-262405448). Based on those examples, we decided on the following for [these questions](https://github.com/citusdata/citus/issues/719#issuecomment-262385780).

1. Do we support ``VACUUM tablename``, ``VACUUM``, or both?
 * Our initial implementation supports ``VACUUM tablename``. If we have time w

[2016-11-23 00:36] lfittl commented on #719
@ozgune ORM tools typically don't run VACUUM (I at least now that Rails/ActiveRecord doesn't do this), so we're good from that side.

[2016-11-23 03:00] fdr commented on #985
Why do you think Rails migrations not working is not sufficient to warrant such a divergence? @lfittl as we're shipping 6.0 by default, have we lost an important workflow 5.2?

[2016-11-23 03:01] fdr commented on #986
How carefully has this been vetted for security interactions with "roles"? How about given our `.pgpass` set-up?

[2016-11-23 03:29] anarazel commented on #985
On 2016-11-22 19:00:50 -0800, Daniel Farina wrote:

This hasn't changed recently, so it's not related to 6.0, and obviously
not urgent.

[2016-11-23 17:55] lfittl commented on #986
@fdr It seems to do the right thing in my tests so far - and if I understand correctly, the way its set up, it just works the same way as Citus itself works when making connections to workers.

[2016-11-23 18:39] sumedhpathak commented on #991
@Baznu Thanks for reporting. We already have #443 for tracking this issue. A few questions to better understand: What performance differences have you observed? How many values do you have in the clause itself? Thanks.

[2016-11-24 00:12] lithp opened #993 "Automate Code Coverage Testing"
pg_shard and [cstore_fdw](https://coveralls.io/github/citusdata/cstore_fdw) already use coveralls.io, although maybe codecov [is the new hotness](https://www.slant.co/versus/7928/7929/~coveralls_vs_codecov).

[2016-11-24 09:34] Baznu commented on #991
ANY VALUE query runs 3 seconds, IN / ANY(ARRAY ) runs up to 2 minutes.

We have 8000 - 12000 values in the filter clauses

[2016-11-28 07:10] onderkalaci commented on #992
In #773 we extended relation names appearing in the indexes to include shardids. I'm curious whether we could apply the same (or smth similar) here as well.

For the details, @jasonmp85 has a detailed e-mail on dev-list titled: `ZomboDB Design Riposte (was Re: ZomboDB Meeting and Code Review)`

[2016-11-28 18:32] sumedhpathak commented on #943
@mtuncer / @marcocitus can we close this issue? @mtuncer Does #980 capture all remaining open items?

[2016-11-28 18:56] ozgune opened #998 "Reduce default value for citus.shard_replication_factor to 1"
Citus currently sets the default value for [citus.shard_replication_factor](http://docs.citusdata.com/en/v6.0/reference/configuration.html?highlight=replication%20factor#citus-shard-replication-factor-integer) to 2. When this value is set, Citus uses its built-in statement based replication model. This model caused a number of engineering challenges in the Citus 6.0 release, particularly around mu

[2016-11-28 20:20] ozgune commented on #998
I'm also adding a checklist of items on the communication and engineering side. For the engineering question, we may want to open up another issue.

* [ ] Survey users who have real-time applications and ask them about their current ``shard_replication_count`` setting
* [ ] Write up a blog post that explains the two different replication models customers use in production. Explain how and why thes

[2016-11-28 21:53] #943 closed

[2016-11-29 00:15] jasonmp85 opened #999 "Produce 6.0.1 release"
These instructions assume you have `$VERSION` and `$PROJECT` environment variables set in your shell (e.g. `5.2.1` and `citus`). With those set, code from most steps can be copy-pasted.

# Prepare Project

  - [x] Ensure all needed changes are in the relevant `release-` branch. `git log --cherry-pick` can be helpful. Be sure to cherry-pick changes in the same order they were _merged_ to the main b

[2016-11-29 00:21] jasonmp85 commented on #999
#973, #974, and #979 are slated for backport.

[2016-11-29 10:28] metdos commented on #844
I think the idea was to resemble the behavior of PostgreSQL. If there are colocated tables, and the user didn't provide the CASCADE option, we will error out and advise to run the function with CASCADE option. This allows the user to make this decision explicitly.

[2016-11-29 10:36] mtuncer commented on #395
We need to be fixing 2 parts here
1. master query should not have filters at all. We should explicitly set aggfilter to NULL
1. worker query should have filter. All worker aggregates except hll count distinct have filters. original query's filter expression should be added hll aggregate.

Preliminary testing shows those fixes solves the problem.

[2016-11-29 18:46] jasonmp85 commented on #999
Homebrew/homebrew-core#7392 has the homebrew PR

[2016-11-29 19:01] jasonmp85 commented on #945
The sole missing issue is that Citus 6.0 isn't available in RPM for PostgreSQL 9.5. The issue [here](https://redmine.postgresql.org/issues/1989) will track that resolution. Closing since everything else is done.

[2016-11-29 19:01] #945 closed

[2016-11-29 22:19] ozgune commented on #425
@xarg -- As you noted, @jberkus has been looking at Kubernetes integration with Citus.

Josh had a talk at PGConf SV where he demoed a Citus cluster deployment with Kubernetes: http://www.pgconfsv.com/ccp-containerized-clustered-postgres-0

Once the talk is online, I'll also post the link to it here.

Also happy to send an introduction to @jberkus and also be a part of this conversation. We're pay

[2016-11-29 22:27] ozgune commented on #220
@jberkus -- I wanted to follow up on this issue.

We recently announced Citus MX Beta (masterless) as part of our work on supporting multiple coordinator nodes: https://www.citusdata.com/blog/2016/09/22/announcing-citus-mx

In MX, we went with the second option that you brought up. We have replication groups where the nodes within a replication group use streaming replication.

We're currently tra

[2016-11-29 22:36] ozgune commented on #991
@Baznu -- if you have an example table schema and query, could you share it with us?

I'm also planning to post the info in this issue into #443. Once we have all the details, I'm planning to close this issue in favor of that one. If that doesn't work, could you let us know?

[2016-11-29 22:39] ozgune commented on #985
@onderkalaci / @marcocitus -- I'm marking this as a relatively easy fix and therefore adding the 6.1 milestone to it. If the fix is more involved, could you reply to this issue?

[2016-11-29 22:56] ozgune commented on #980
@mtuncer -- This issue looks like a duplicate of #99. I'm therefore adding a minor edit to your description and closing #99 in favor of this issue. Please let me know if we need to reopen #99.

I'm also noting #169 as a semi-related issue on taking distributed backups.

[2016-11-29 22:59] ozgune commented on #99
#980 looks like a duplicate of this issue. I'm therefore closing this issue in favor of that one.

[2016-11-29 22:59] #99 closed

[2016-11-29 23:12] jberkus commented on #425
First cut at this is up on my project: https://github.com/jberkus/atomicdb/tree/master/citus_petset

Not really production-quality yet, working on it.  Contributions welcome.

[2016-11-29 23:13] ozgune commented on #956
@metdos / @mtuncer -- I agree that the user shouldn't manually delete a row from ``pg_dist_node``.

At the same time, we used to provide functionality pre-Citus 6.0 where the user could temporarily disable a worker node. For example, this could happen if the user was using append distribution and one of their worker nodes temporarily failed. To avoid spurious warning messages on ``SELECT``s, they

[2016-11-29 23:16] ozgune commented on #953
@aamederen -- we talked about this as part of #931. I'm noting it as a semi-related issue.

[2016-11-29 23:30] ozgune commented on #942
I'm adding a quick note. We're keeping ``master_run_on_worker`` private in Citus 6.0. For now, we intend for this to be a utility function for @samay-sharma to use in certain scenarios.

[2016-11-29 23:57] ozgune commented on #207
We had a question that came up in StackOverflow that was related to this issue. I'm capturing an internal email thread below.

---
http://stackoverflow.com/questions/40560807/citusdb-modifying-the-partition-value-of-rows-is-not-allowed

We should more clearly articulate our error messages in many cases. In this example:
"modifying the partition value of rows is not allowed" does sound confusing.

[2016-11-30 00:41] jasonmp85 commented on #719
Cleaned up the top with a user story, summarized the proposal, and wrote up a plan that I'm partway through (pushing up code tomorrow).

[2016-11-30 00:47] sumedhpathak commented on #719
Hey Jason,

Can we update the Github issue with the user-story and scope first? While
it was verbally agreed, it would be useful to also capture that in the
issue.

On Tue, Nov 29, 2016 at 4:41 PM, Jason Petersen <notifications@github.com>
wrote:

--

Sumedh Pathak
Co-founder and VP Engineering | Citus Data | (650) 422 9797
Elastically scalable PostgreSQL as a service.
<https://www.citusdata.com/b

[2016-11-30 07:14] mtuncer commented on #442
some addition to @anarazel's last comment on ```TableEntryList()```
This function blindly returns all RTEs regardless of if they were actually used or not.  A simple select query on a view may end up with 4 RTEs in which only one of them is actually used. Remaining 3 are one subquery RTE and 2 view RTEs.

Perhaps we should ignore unreferenced RTEs.

[2016-11-30 07:55] onderkalaci commented on #969
Though it includes more extensive changes, I'm leaning towards having a new `partition method`. (The name is TDB yet)

My reasons for that:
* First of all, it is `actually` a new partition method.
  * In a very basic sense, we're not partitioning on any columns.
* Using `shard_count == 1` with hash partitioned table feels a lot hacky to me.
  *  Besides, it'd unnecessarily add the requirement of h

[2016-11-30 08:28] marcocitus commented on #794
An issue came up while trying to use sequences in MX, namely that the owner of the sequence is not correctly set during metadata syncing.

[2016-11-30 08:29] marcocitus commented on #793
A change from MX in 6.1 is that master_modify_multiple_shards also needs to error out on workers, as well as new code paths such as INSERT .. SELECT and reference tables.

[2016-11-30 09:40] marcocitus commented on #797
Some things to note:
- In 6.0 we added support for foreign keys. When we sync metadata to workers then we need to make sure that the tables are created before the foreign keys are added. Otherwise foreign key creation would error out.
- In 6.0 we added support for truncate through triggers. We need to explicitly add these triggers as part of the DDL commands that we send to the workers.
- We ran i

[2016-11-30 09:42] marcocitus commented on #791
Some things to note:
- In 6.0 we added support for truncate through triggers. We need to explicitly add these triggers as part of the DDL commands that we send to the workers.
- We ran into an issue in MX with the schema being created by super user, which made the schema inaccessible to regular users. We should make sure that the CREATE SCHEMA command specifies an AUTHORIZATION: https://www.postgr

[2016-11-30 10:27] marcocitus commented on #998
We also need to decide how a table becomes an MX table, or rather gets repmodel 'streaming'. We added a repmodel column in pg_dist_partition to distinguish between tables which are replicated by the 'coordinator' and tables that are guaranteed to use 'streaming' replication and can thus be synced to workers.

A 'streaming' table has just one restriction compared to a 'coordinator' table: Its repli

[2016-11-30 10:51] onderkalaci commented on #844
Okay, that makes sense :)

[2016-11-30 18:12] #220 closed

[2016-11-30 18:19] ozgune commented on #443
I'm adding the following conversation from #991 below.

---
Is it possible to integrate support of ``any`` values to citus?

With Citus 6 I get the following error:

I could use ``IN`` or ``ANY(ARRAY... )`` expression, but that way is much slower. Seems like there are similar experiences/requests in issue: #443 and #779

It's a postgres related problem, that the queryplanner is kinda slow with ``I

[2016-11-30 18:42] ozgune commented on #989
@metdos / @lithp -- We had an initial conversation and an internal email thread on automating test cluster's creation. Could we write down our decisions in this issue? (Do you have agreement on the points @onderkalaci brought up on this one?)

[2016-11-30 19:37] ozgune commented on #986
We had an internal email thread on this; and I'm copy/pasting from there.

It looks like we had a small misunderstanding as we were scoping out the visibility for the functions in citus-tools.sql. Reading over the exchanges, here's the part that we all agree on:

* None of the functions in citus-tools.sql should be documented.
* The C function, master_run_on_worker() needs to be created by default

[2016-12-01 00:39] saicitus opened #1003 "Multi shard DELETES with typecasts(Stable functions) error out."

[2016-12-01 06:41] onderkalaci commented on #966
As we discussed with @marcocitus, adding 2PC to router executor requires the following high-level changes:

* Wrap router connections within `TransactionConnection` struct.
* Call `PrepareRemoteTransactions()`
* Add `AbortRemoteTransactions()` / `CommitRemoteTransactions()` to the necessary place
*  Switch to 2PC when a modification is on a reference table.

[2016-12-01 07:06] #395 closed

[2016-12-01 07:54] onderkalaci commented on #879
Below, I tried to summarize the next steps and open questions for reference table implementation:

## Phase 1: Represent reference tables in the metadata
This item requires the most comprehensive changes. With a short summary:
* Creates a new partition method (i.e.,`DISTRIBUTE_BY_ALL`  -- name is TBD)
* This new partition method does not have any partition column. In citus code, we always assume t

[2016-12-01 07:55] metdos commented on #989
@ozgune, @lithp will send his final document today, and we are planning to discuss it tomorrow in Istanbul office (comments are also welcome on the email thread). I think, @lithp can share our final decisions tomorrow here. @lithp, does this sound good?

[2016-12-01 08:43] lithp commented on #989
Yep, nothing to add

[2016-12-01 11:46] mtuncer commented on #442
Detecting whether a view is being modified is not trivial.  I am using a not-so-pretty trick.
when you have
[code]
Query object contains 3 RTEs
1- view
2- select subquery
3- relation range table entry that view is pointing to

Query->resultRelation points to the relation not to the view. For modify queries, we could check the first RTE relkind to see if it is a view, than bail out  if it is.

[2016-12-01 12:47] marcocitus commented on #791
- mark_tables_colocated should propagate metadata change

[2016-12-01 13:29] marcocitus commented on #793
and mark_tables_colocated

[2016-12-01 14:35] metdos commented on #847
@ozgune, @samay-sharma, @saicitus

I updated my comment https://github.com/citusdata/citus/issues/847#issuecomment-259300740 above to reflect our meeting at SF. I'm going to implement it. Let me know if I missed anything.

[2016-12-01 17:33] ozgune commented on #879
@onderkalaci -- I'm adding my notes to this issue. If we have any open questions by next week, it may be worth hopping on a quick call with @marcocitus and @samay-sharma.

## SQL Coverage

For the initial version, skipping over this additional functionality sounds good to me. It may be worth checking with @anarazel how hard he anticipates this to be and then opening an issue tracking this function

[2016-12-01 17:34] jasonmp85 commented on #999
RPM issue [here](https://redmine.postgresql.org/issues/1996).

[2016-12-01 18:16] jasonmp85 commented on #999
All tasks done now.

[2016-12-01 18:16] #999 closed

[2016-12-01 18:16] jasonmp85 commented on #999
Debian issue [here](https://redmine.postgresql.org/issues/1997).

[2016-12-01 19:18] anarazel commented on #879
Hi,

On 2016-11-30 23:54:07 -0800, Önder Kalacı wrote:

Let's please wait with implementing this until the connection management
et al. stuff has landed.

[2016-12-01 19:57] saicitus opened #1007 "CREATE INDEX CONCURRENTLY is not supported for distributed tables."
Encountered this in 2 customer conversations. The first user uses psycopg2 as their ORM and the second uses Rails.

SQL Query which is used:
[code]

[2016-12-01 22:00] saicitus commented on #631
+1
Came up in a prospect engagement. Wanted to check if the \COPY succeeded.
On a more generic note, supporting size functions for relations/indexes is for sure a nice to have feature.

[2016-12-01 22:10] saicitus commented on #719
I understand that VACUUM/ANALYZE would be implemented in a way that it runs in parallel on all shards. Just wanted to share one of the prospect experiences with postgres VACUUMING on large tables. Good news is our implementation may serve this cause as well:
[code]

[2016-12-01 22:58] sumedhpathak commented on #848
@lithp this wasn't planned for 6.1. Any reason to add this item for the current cycle?

[2016-12-01 23:43] anarazel commented on #1007
@saicitus I think it'd be useful to use labels to indicate whether you think something is a bug or a feature request.

[2016-12-02 01:10] begriffs commented on #998
Requires documentation in https://github.com/citusdata/citus_docs/issues/219

[2016-12-02 01:14] begriffs commented on #931
Requires documentation in https://github.com/citusdata/citus_docs/issues/224

[2016-12-02 01:17] begriffs commented on #872
Requires documentation in https://github.com/citusdata/citus_docs/issues/225

[2016-12-02 01:19] begriffs commented on #847
Requires documentation in https://github.com/citusdata/citus_docs/issues/226

[2016-12-02 01:27] begriffs commented on #442
Requires documentation in https://github.com/citusdata/citus_docs/issues/227

[2016-12-02 05:34] aamederen opened #1009 "Prevent co-location of MX and non-MX Tables"
Colocation of MX and nonMX tables may have some challenges, mainly because metadata and distributed tables of only MX tables are propagated to workers.

One of the main deal-breakers are foreign keys. If an MX table refers to a non-mx table, then the propagation would fail, since the non-mx table metadata will not exist in the workers.

Disabling specific features is another option but it is safer

[2016-12-02 10:08] lithp commented on #848
@sumedhpathak I didn't want this to get lost, it's maintenance that should be done eventually and I figured if it wasn't added to a milestone we would lose track of it.

[2016-12-02 11:31] lithp commented on #989
[Here's a doc](https://docs.google.com/a/citusdata.com/document/d/1BvYH1vpZaHYandKLtWTOJ-Ne4JuDYnZghuVhNSXsj78/edit?usp=sharing) with the proposal plan (only viewable by citusdata.com). Some additional ideas were floated during our meeting but they didn't change the plan at all, only added some things which would be nice to have and refined what the UX might be like.

[2016-12-02 15:08] metdos commented on #693
@sumedhpathak, @ozgune, this is on the prioritized task list, shall we tag it with 6.1?

[2016-12-02 15:34] #726 closed

[2016-12-02 16:41] lithp commented on #631
An easy first step is to replace pg_table_size with a function which returns an error if you query a distributed table, so you at least aren't given. It could even give some advice on how to determine the size yourself?

[2016-12-02 16:41] marcocitus commented on #1003
Steps to reproduce:

[code]

Note: it only happens when the `timebucket_start` column has type `timestamp`, not if it has type `timestamptz`.

[2016-12-02 16:51] marcocitus commented on #631
Workaround:
[code]

[2016-12-02 18:16] sumedhpathak commented on #693
@metdos Yep, tagged it with 6.1.

[2016-12-02 19:57] saicitus commented on #631
@begriffs and @sumedhpathak May be add the above in the list of workarounds on docs. It doesn't come up too frequently, but it did come up 2-3 times in the SE process for prospects.It might not be too important, but would still be handy and useful content on the docs.

[2016-12-03 19:32] aamederen opened #1011 "Add a UDF to copy the current metadata from master to worker"
For MX, we need to copy metadata from master to worker and mark that worker to receive future DDL changes.

Basically, after the cluster is set, the user should be able to call a function which marks a worker node as containing the metadata and copies the current metadata snapshopt to that worker.

Note that we need to copy the metadata related to only mx tables.

Here are @marcocitus's notes abou

[2016-12-03 19:35] aamederen commented on #797
I believe propagating `pg_dist_node` changes to workers and implementing `sync_metadata_to_node` are separate issues and should be tracked separately. Therefore, I have opened a new issue #1011 to track `sync_metadata_to_node`

[2016-12-03 19:36] aamederen commented on #797
Since #996 is merged, I am closing this issue.

[2016-12-03 19:36] #797 closed

[2016-12-05 11:35] #870 closed

[2016-12-05 18:06] ozgune commented on #991
I copy/pasted the information in this issue to #443 and I'm closing this issue in favor of that one. If you have further details, could you post them in #443?

Also, if you think we should keep both issues open, please feel free to reply with a comment.

[2016-12-05 18:06] #991 closed

[2016-12-05 19:56] jasonmp85 commented on #719
No problem; I like doing that because it gives the issue a progress bar in list views.

[2016-12-05 21:52] ozgune opened #1014 "Release quality: Packaging simplification - Investigate"
We currently have a number of distribution/deployment methods for Citus.

* Tutorials (custom single node binaries)
* Redhat based packages (single and multiple node)
* Ubuntu based packages (single and multiple node)
* Docker
* Homebrew packages
* CloudFormation templates
* Citus Cloud (managed cloud)
* Build from source

We need to evaluate how effective each method is and investigate if we coul

[2016-12-05 23:28] saicitus opened #1015 "Comprehensive cstore integration with Citus."
There is no specific(comprehensive) model which describew on how to integrate cstore in a distributed setup. The below are some of the necessary items to enable this:

1. Add/update/review features to cstore_fdw/citus in the context of a distributed setup.
2. Come up with suitable data modeling approaches(similar to how we have tenant based and entity based sharding approaches) on how cstore could

[2016-12-05 23:39] saicitus opened #1016 "Better PostGIS support with Citus"
PostGIS is a spatial database extender for PostgreSQL object-relational database. It adds support for geographic objects allowing location queries to be run in SQL.

Comes up very frequently in various prospect engagements. **PostGIS currently works with Citus** but just created this issue for re-evaluating/reviewing the specifics of what works and what doesn't, based on which coverage could be im

[2016-12-06 00:06] sumedhpathak commented on #879
Needs documentation at https://github.com/citusdata/citus_docs/issues/229.

[2016-12-06 01:22] ozgune commented on #47
We heard about providing native Spark integration with Citus from two customers (+2).

I'm also copying/pasting a conversation from https://github.com/citusdata/citus_docs/issues/209 as feedback on Spark integration to this comment.

I'm using Citus together with Slurm and Spark (about 400 compute cores in total). So I have many parallel ``SELECT`` and ``INSERT/UPDATE`` queries and many concurrent

[2016-12-06 12:23] metdos commented on #989
@lithp, could you add individual tasks to the issue description as a checklist as we talked this morning? Maybe we can track them in the new test repo (to be created), but we should list them somewhere.

@onderkalaci will review them today or early next week. We can update them according to his feedback but no need to wait for him for the initial list :)

[2016-12-06 14:20] metdos commented on #1014
The use of Snappy(see http://snapcraft.io/) is mentioned on the Slack channel (https://citus-public.slack.com/archives/general/p1481032742000019)

[2016-12-06 18:42] #993 closed

[2016-12-06 23:53] anarazel opened #1019 "Re-add connection retries, but less aggressively."
In the course of #863 connection retries have been removed, because the current logic seems a bit dangerous.  What we want is roughly something like:
- perform at most three retries in a single transaction, then fail. That prevents hundreds of retries when e.g. COPY is used, making the problem worse
- add some delay in retrying e.g. connection_timeout / 10 * num_retry or such
- don't retry if the

[2016-12-07 08:22] lithp commented on #989
- [ ] Create cloudformation template which only spins up a cluster
- [ ] Decide whether to use bash scripts or puppet / fabric
- [ ] Create happy-path script which only sets up PG and Citus to enable documentation testing (it should accept which version of PG and which branch/commit of Citus to use)
- [ ] Between versions of Citus the steps to setup a cluster change, how do you accommodate that? L

[2016-12-07 08:31] lithp commented on #890
Code coverage testing now happens automatically and no longer needs to be done as part of release testing. Making a note above.

[2016-12-07 11:07] mtuncer opened #1021 "expand count distinct support to join queries"
We do support count distinct on a single table if the distinct operation is on the partition column, so that
[code]

is a valid query.

However, we do not support count distinct on a join even if it is on the partition column. We should be able to support
[code]

We should be verifying
- joined tables are co-located
- join is on the partition column (somewhat implied since it is not a re-partition

[2016-12-07 12:33] metdos commented on #844
@ozgune, @samay-sharma, @saicitus
I updated the issue with the proposal. Could you take a look and let me know if something does not fit?

[2016-12-07 13:32] marcocitus commented on #844
Just some implementation notes.

To avoid failures and inconsistency, we'll need to commit the changes to the shards before the changes to the metadata. Otherwise, queries could start to come in before the new shard placements are visible / have been committed on the worker.

One design could be to create 2 new shards and migrate data from the original shard to the two new shards. However, this de

[2016-12-07 13:49] metdos commented on #844
Do you mean something like;

CREATE TABLE .. AS SELECT * FROM orginal_shard WHERE
    hash(distribution_column) < hash(tenant_id) AND
    hash(distribution_column) >= orginal_shard_min_value;

This means after the master commits flipping shards in metadata, and using 2PC for MX, right?

[2016-12-07 15:12] marcocitus commented on #844
Yes.

More or less. It should become reasonably straight-forward to send a command that gets committed in a 2PC using the new connection API.

[2016-12-07 21:16] anarazel opened #1023 "All 2PC transactions should support automated recovery."
Right now, when 2PC is being used for DDL, failures are not being handled well.  If the main transaction fails badly, or a connection dies, we end up with leaked prepared transactions. That's bad because they still hold locks and such, and because they are a scarce resource.

That's going to get even worse once reference tables use 2PC (#966), due to the increased frequency of 2PC usage.

[2016-12-08 12:11] #698 closed

[2016-12-08 14:44] lithp commented on #631
This just came up again in citus-users

[2016-12-08 21:53] ozgune commented on #986
@mtuncer, @lfittl -- We had a quick conversation on this.

We decided to create all of the citus_tools.sql user-defined functions (UDFs) by default. (option 4 above)

We also decided not to document these functions because their transactional properties are unsafe, particularly when run concurrently with other commands.

[2016-12-09 11:10] marcocitus commented on #1016
The main unsupported features is the lack of custom aggregates in Citus (#120). Implementing this would allow us to provide distributed versions of the [PostGIS aggregates](http://postgis.net/docs/PostGIS_Special_Functions_Index.html#PostGIS_Aggregate_Functions), which are quite commonly used.

In general, the main shortcoming is that PostGIS applications generally require more advanced SQL suppor

[2016-12-09 12:50] marcocitus commented on #971
Nasty question: What if the reference table contains a custom type?

[2016-12-09 12:52] marcocitus opened #1026 "Replicate global objects to new and existing workers"
We currently have hacky workarounds for propagating schemas and sequences that are used in distributed tables on shard creation, which require yet more hacky workarounds to prevent deadlock, drop tables, and deal with new nodes. Other relevant objects are not replicated at all (roles, types, functions, extensions, ...), which may make adding new workers rather tedious (e.g. when using a composite

[2016-12-09 13:53] byucesoy commented on #872
There are few points we need to decide on before implementing these.

1-) Should this function also support append and range distributed tables?

I think it is not difficult to support those. I just want to confirm. If yes, we will return shard id array instead of single shard.

Also we are adding new distribution type for reference tables, but it is a trivial case since there is single shard alre

[2016-12-09 14:50] marcocitus opened #1029 "Transaction recovery must not run concurrently with prepares"
We currently don't prevent `SELECT recover_prepared_transactions()` from running while other backends might be sending `PREPARE TRANSACTION..` commands. This means that `recover_prepared_transactions` might see prepared transactions on a worker without (visible) records in `pg_dist_transaction`. In that case, the transaction recovery logic will try to roll back those transaction, even though they

[2016-12-09 14:51] marcocitus opened #1030 "Transaction recovery must not run during prepare phase of other transactions"
We currently don't prevent `SELECT recover_prepared_transactions()` from running while other backends might be sending `PREPARE TRANSACTION..` commands. This means that `recover_prepared_transactions` might see prepared transactions on a worker without (visible) records in `pg_dist_transaction`. In that case, the transaction recovery logic will conclude that the transactions in question must have

[2016-12-09 15:07] marcocitus opened #1032 "Consider running all replicated modifications in a transaction block"
When performing individual DML commands, the router executor currently modifies and commits replicas one by one, rather than opening a transaction block on each replica and committing them after modification succeeds on all of them. While this has latency benefits in a few situations, it is not a sustainable model, complicates the code, and lowers reliability and uptime.

Currently, if we detect a

[2016-12-09 15:58] marcocitus opened #1033 "Enable shard replication in MX"
We currently use shard resource locks on the coordinator node to guarantee replicas remain consistent and to prevent deadlock that could result from running concurrent multi-shard commands. However, having these locks on the coordinator prevents us from performing replicated (reference table) writes or multi-shard commands from workers on MX tables, including writes to reference tables and INSERT.

[2016-12-09 16:01] marcocitus commented on #1029
Duplicate of #1030 due to a mysterious GitHub failure.

[2016-12-09 16:01] #1029 closed

[2016-12-09 18:31] anarazel opened #1034 "Run Travis test against custom compiled postgres"
That will:
- allow to run isolationtester tests as part of the normal tests (#917)
- allow testing against assertions (#208)
- allow running standard postgres tests as part of our tests (#1017)
- in theory it'd allow to run valgrind tests, but they take too long for travis (3-5h)

Possibly more.

@jasonmp85 ^

[2016-12-09 19:42] anarazel commented on #966
@onderkalaci
It should be fairly straightforward to do this after #1020 is merged. You basically just would need to do
1) ```BeginOrContinueCoordinatedTransaction();  /* signal that we want transaction to be used remotely */
2) ```CoordinatedTransactionUse2PC();``` Force 2PC to be used
3) On each of the connections used: ```RemoteTransactionBeginIfNecessary(connectio);```, to signal that a transac

[2016-12-09 21:21] jasonmp85 commented on #1034
We discussed whether to omit `ruleutils` files _et al_ from coverage reports. @anarazel thought they should be included if we run standard PostgreSQL tests as part of our tests; until then, I've omitted them (as we did in e.g. `pg_shard`) as part of #1035.

Whoever tackles #1017 above might consider re-including them.

[2016-12-09 21:23] ozgune opened #1036 "Citus Cloud upgrade issue across Citus and Postgres versions"
I'm copy/pasting @fdr's internal email on this below. I'm also noting #907 as a related issue.

---

The current situation: someone using Citus Packages is liable to break their cluster if they run a system update, e.g. via `yum upgrade` or `apt-get upgrade`.

It also makes it impossible to have a single machine image (e.g. AWS AMI) capable of servicing an operation running multiple major versions

[2016-12-09 21:25] anarazel commented on #1034
Hm? No, I didn't.  I want to include the coverage information from
postgres tests against citus in the coverage information, but I'm fine
with omitting ruleutils/readfuncs from all.

[2016-12-09 21:27] jasonmp85 commented on #1034
Ah, then I misunderstood 😄. Either way, they're omitted now, since ≈ 50% of the lines are not hit by our tests (and the large line counts mean that has a large impact), and the `ruleutils` code is already thoroughly tested by PostgreSQL.

[2016-12-09 22:11] sumedhpathak commented on #989
@metdos @lithp Is this a high-level issue which captures #990 also?
Are we creating a new repo for this somewhere?

[2016-12-10 00:23] ozgune commented on #872
@byucesoy - We quickly talked about this and I'm adding our notes.

We think it doesn't needs to. In particular, @samay-sharma noted that this function is more relevant for multi-tenant deployments and if the function returned an array, it would introduce confusion.

Could you quickly review the Citus codebase to see what names would be consistent with our UDF names? In particular, these names sou

[2016-12-10 19:15] ozgune commented on #278
@marcocitus / @sumedhpathak -- We decided that #33 provided a better alternative to this issue and merged ``COPY FROM`` changes nine months ago.

I'm closing this issue and #36 since we now have fast bulk data loads. If you don't agree, could you reopen these issues?

[2016-12-10 19:15] #278 closed

[2016-12-10 19:16] ozgune commented on #36
@marcocitus / @sumedhpathak -- We decided that #33 provided a better alternative to this issue and merged COPY FROM changes nine months ago.

I'm therefore closing this issue. If you don't agree, please reopen this issue.

[2016-12-10 19:16] #36 closed

[2016-12-10 19:48] ozgune commented on #37
We're adding the 6.1 Release milestone to investigate this issue and better define requirements.

[2016-12-11 01:06] minimok opened #1037 "How to install citus as a pure extension?"
I have a requirement to use plv8. This means that your combined postgres-citus server will not work - it's simply not possible to build the plv8 library against it. So I need to:
1. download a vanilla postgres e.g. postgres-server-dev
2. build the plv8 against that and install
3. install citus as a simple extension

Is there an idiot's guide on how to just get citus as a pure extension and build/i

[2016-12-12 07:04] metdos commented on #989
No, we already have a high-level issue #890. @lithp, could you move related check boxes to #990?

[2016-12-12 07:08] metdos commented on #989
@lithp will add CloudFormation changes to existing repo, and open a new repo for other tools. @lithp, could you correct me if I'm wrong.

[2016-12-12 07:09] metdos commented on #989
@lithp, could you also add your notes about why we picked fabric over puppet here?

[2016-12-12 08:33] lithp opened #1038 "SIGABRT in RouterSelectTask"
To reproduce (on master with pg 9.6):

[code]

Backtrace:
[code]

When it fails the assertion that it's passed a RTE_RELATION it actually receives an RTE_FUNCTION.

[2016-12-12 08:36] onderkalaci commented on #989
My initial observation:
* Puppet is great for installing standard packages and configuring them such as `Install postgres and update configuration file as specified`. More targeting for IT people where writing `puppet manifest` file is acceptable.
* Fabric is also great for installing standard packages and configuring them. However, in this case, the author (which is us), needs to write some very

[2016-12-12 08:37] lithp commented on #1037
Our [CONTRIBUTING.md](https://github.com/citusdata/citus/blob/master/CONTRIBUTING.md) file has instructions on building and installing citus from source. It's pretty straightforward, just make sure that pg_config points to the postgres installation you wish to use.

[2016-12-12 08:39] #1037 closed

[2016-12-12 09:07] lithp commented on #1038
`MultiRouterPlannableQuery` returns false for this query, even though maybe it should return true?

[2016-12-12 09:09] lithp commented on #1038
I think the problem comes from the fact that we assume CTE's are SELECT queries, but never enforce that.

[2016-12-12 09:10] lithp commented on #1038
@mtuncer I think you have the most context on diagnosing this?

[2016-12-12 14:54] onderkalaci commented on #971
Another question from @marcocitus :

[2016-12-12 15:09] metdos commented on #971
@byucesoy, do you want to lobby for reserved colocation id :)

[2016-12-12 16:13] byucesoy commented on #971
:) My main motivation for having reserved colocation id is that it would prevent mixing reference tables and other co-located tables. If we have different distribution type for reference tables, we may not need reserved colocation id for that purpose.

[2016-12-12 16:28] byucesoy commented on #872
Constrast to our C codebase, for SQL UDFs we use get keyword in our functions which return some information. Therefore, in my opinion, get_distribution_value_shardid  or get_shardid_from_distribution_value are good candidates.

This function should take a distributed table name and a distribution value so that it will return a shard id which belongs to given table and contains given value. Full si

[2016-12-12 17:48] metdos commented on #1038
First, let's check how much the fix involved.

[2016-12-12 18:10] metdos commented on #986
We have some related unmerged tests in #880.

[2016-12-12 22:34] #877 closed

[2016-12-12 22:37] ozgune commented on #403
@kellabyte / @gregscds -- I wanted to provide a long overdue comment on this issue.

First, we have a blog post available in draft form that explains Citus' replication models in detail and how they evolved over time. We plan to publish this post later in the week. If you'd like to have an early preview, could you drop me a note at ozgun at citusdata.com?

Second, we find that our customers use on

[2016-12-12 23:20] anarazel opened #1039 "Automated valgrind test runs"
Besides the work done in #835 we also need to make the run free from spurious failures:
- due to timeouts some tests still fail, we need to make
  REMOTE_NODE_CONNECT_TIMEOUT configurable ( #912)
- due to slow queries, autovacuum analyzes some tables, causing
  different plans. This probably should be fixed by adding explicit
  analyze statements to those
- should we verify that postgres was compi

[2016-12-13 08:09] aamederen commented on #1039
For context, I have done some work on this within 6.0 release cycle.

[2016-12-13 08:40] lithp commented on #989
I've created a new repo to hold all the tooling for out testing automation, and opened [a ticket](https://github.com/citusdata/test-automation/issues/1) to track progress.

[2016-12-13 09:09] lithp commented on #989
It was more than just puppet, I also looked into chef, ansible, salt, etc.

I think puppet, and especially ansible, are likely more suitable than fabric (which I ended up choosing) for this task. They're designed for configuring systems just so and putting files in the right place and transitioning from one state to another, however they all have complicated configuration syntaxes and if the idea

[2016-12-13 09:11] lithp opened #1040 "Replace the worker list with something faster"
Closed this PR because it had gotten pretty old: https://github.com/citusdata/citus/pull/801

But the motivation remains :)

[2016-12-13 11:57] HackerMD opened #1041 "How to do complex DELETE queries"
I have two distributed tables: table "a" and table "b", which can be joined.

How can I DELETE rows of "a" based on a criterion in "b"?

Normally, I would do

[code]

But this results in the following error:

[code]

I can of course also first get the IDs of rows I would like to delete

[code]

but this becomes extremely inefficient for large sets (millions of rows).

Are there any workarounds?

[2016-12-13 12:00] aamederen commented on #847
For this, we may consider disallowing colocation of mx and non-mx tables. We have discussed this with @metdos and @marcocitus and found these problems with colocation of mx and non-mx tables:

- In foreign keys, an mx table cannot refer to a non-mx table, since the distributed table of non-mx table will not exist in the worker. Can this be solved by not propagating the foreign key constraints to d

[2016-12-13 13:08] metdos commented on #847
I think that this is the proper way to follow. However, there is a discussion here https://github.com/citusdata/citus/pull/1012#issuecomment-266675565 about changing metadata in minor releases. @marcocitus, do you have any comment on that?

[2016-12-13 13:18] onderkalaci commented on #967
Moving some notes from #969:

* [ ] MX
	* [ ] Make sure that only the coordinator can modifications on reference tables

[2016-12-13 13:18] onderkalaci commented on #968
Moving some notes from #969
* [ ] Foreign Keys
	* [ ] Simply do not allow, given that we decided not to include foreign keys for reference tables in 6.1

[2016-12-13 16:48] ziXet commented on #549
I think the only issue that is left from the list is #687 .

[2016-12-13 16:57] marcocitus commented on #847
I think adding `repmodel` to `pg_dist_colocation` makes sense if we're ok with metadata changes in this release. I'd like to start viewing pg_dist_colocation as a table of 'distributed table configurations' and each configuration should have its own entry (at some point it might make sense to remove the GUCs and their strange side-effects and allow you to create a configuration with one existing b

[2016-12-13 17:04] marcocitus commented on #998
We currently use the `citus.shard_replication_factor` setting in some mission-critical parts of the code that might affect users that have existing (or new) tables with a higher replication factor:

For example, the default task assignment algorithm in the physical planner uses this setting to iterate over the placements:
https://github.com/citusdata/citus/blob/master/src/backend/distributed/plann

[2016-12-13 17:05] ziXet commented on #549
I think the only issue that is left from the list is #687

[2016-12-13 17:14] sumedhpathak commented on #1040
Comment from Marco in the PR for motivation:

"While @aamederen was working on the pg_dist_node changes we found that maintaining a hostname/port -> WorkerNode hash is useful, because we may do hundreds of look-ups by hostname/port in the planner for every statement. It may be useful to separately cache a list or array to speed up iterating over the worker list, which also happens reasonably often

[2016-12-13 17:24] sumedhpathak commented on #704
@anarazel Could you update the checklist in the abstract to reflect current progress? Thanks!

[2016-12-13 18:49] marcocitus commented on #998
Trying this out, I don't actually observe failures, but rather starvation of the node that does not have first replicas (no longer greedy).

[code]

[2016-12-13 22:07] jasonmp85 commented on #1041
Questions like this (rather than bug reports or feature requests) are better answered on our [mailing list](https://groups.google.com/forum/#!forum/citus-users) or [Slack channel](https://slack.citusdata.com)…

Any formulation which does this in a single command is going to hit that error, as there's no way to write that query without referencing both tables (a kind of join, even if it's a subquer

[2016-12-13 22:07] #1041 closed

[2016-12-14 08:06] #1011 closed

[2016-12-14 12:33] marcocitus opened #1043 "master_add_node errors out when a node is down (>6.0)"
#996 introduced an issue where `master_add_node` might fail if a worker is down, while the expectation is that this would only happen if hasmetadata set to true for that worker. This is because the worker_transactions framework currently connects to all workers when invoked, even if only sending to `WORKERS_WITH_METADATA`.

[2016-12-14 12:38] onderkalaci commented on #306
Just a note, once reference tables checked-in (i.e., after #1018 ) we wouldn't have any limitations in terms of `PREPARE` given that there is no concept of partition column for reference tables.

[2016-12-14 16:02] marcocitus opened #1044 "Implement hash-repartitioning for single repartition joins"
We currently don't support single repartition joins for hash-distributed tables. Instead we fall back to a dual repartition join even if one of the tables is joined on the distribution column. We do have the machinery for performing hash-repartitioning, but previously this machinery was only used for dual re-partition joins and actual hash-distributed tables did not exist at the time.

[2016-12-15 06:38] mtuncer commented on #442
Now we have an implementation at hand, it has some drawbacks that we should agree on before merging.

## View Creation
No problems there, user can create a view on distributed table same as on a local table.

## Usage
We have different behavior here.
### Router Plannable queries involving views
If the query involving the view is router plannable (i.e. single worker query on a single node and singl

[2016-12-15 08:45] metdos commented on #847
We had a meeting with @ozgune and @marcocitus, and decided to decouple the implementation of this feature from the minor-major release decision. This effectively means not updating the metadata tables (pg_dist_colocation).

We agreed that there will be some side effects but they are ok for now. These are:

- We will have only default configuration groups in pg_dist_colocation and we will not add a

[2016-12-15 11:19] aamederen commented on #847
Is there any chance that someone creates a table named "default" with `CREATE TABLE "default" (a int, b int);`.

Spoiler Alter: It works :smile:

[2016-12-15 11:40] metdos commented on #847
There is always a theoretical chance, but we ignore it. If they insist, they can provide table name in schema-qualified way.

[2016-12-15 18:01] marcocitus opened #1047 "Make COPY and pgbouncer play nicely"
The `COPY` command can up a new connection for every shard placement. When there is a pgbouncer between the master and the worker, the pool size may not be sufficient to accommodate `COPY` commands or they might hold up the pool for a long time. If user was able to make `COPY` bypass pgbouncer then this would be less of a problem.

A possible approach could be to provide a custom `COPY` option for

[2016-12-15 19:18] samay-sharma commented on #617
Another user brought up that they also could easily reproduce running out of ports with COPY.

[2016-12-15 20:02] ozgune commented on #403
@kellabyte / @gregscds -- I wanted to drop a quick update on this issue. We just published a blog post that explains Citus' replication models and how they evolved over time: https://www.citusdata.com/blog/2016/12/15/citus-replication-model-today-and-tomorrow/

I'm planning to keep this issue open for another two weeks to answer any questions or feedback points. Please let us know if that doesn't

[2016-12-16 06:06] mtuncer commented on #442
After discussion between @anarazel and @ozgune we decided to move forward with this work. View support for real time/task-tracker queries when there is group by in the view would be somewhat limited.

[2016-12-16 06:35] onderkalaci commented on #970
According to an internal e-mail thread, the direction we'll follow:

* Provide a UDF which is able to upgrade existing small tables with `shardCount == 1`
* Provide some documentation for upgrading small tables with `shardCount > 1`.

[2016-12-16 12:33] #847 closed

[2016-12-16 14:24] mtuncer commented on #161
views are also represented as subqueries. #442 is not fully completed without subquery support to properly handle views with group by clauses.

[2016-12-16 19:00] ozgune commented on #1047
I'm noting #617 as a semi-related issue.

If we expand on our new connection management APIs and introduce a connection pool, does it help mitigate this issue at all?

[2016-12-16 19:41] ozgune commented on #713
I wanted to add a quick comment to this issue.

We now have ``INSERT INTO ... SELECT`` support available for distributed tables, where the source and destination tables are colocated with each other. We intend to add documentation on this feature soon; and we also have a blog post that demonstrates this feature: https://www.citusdata.com/blog/2016/11/29/event-aggregation-at-scale-with-postgresql

[2016-12-16 19:49] ozgune commented on #1019
I wanted to add a quick note. I'm happy if we just keep our previous behavior in the connection cache: if we fail to connect, we retry once.

(Of course, if we add logic to introduce more sophisticated back-off behavior, all the better. That may take more time though.)

[2016-12-16 19:53] ozgune commented on #998
@marcocitus -- I have a clarification question.

If the user starts with ``citus.shard_replication_factor`` set to 1, creates their distributed tables, and runs this query, do they still observe this starvation behavior? Or does this become an issue when they have ``citus.shard_replication_factor`` set to 2, create distributed tables, and then reduce the replication factor?

[2016-12-16 21:47] ozgune commented on #872
@byucesoy / @samay-sharma -- what do you think about renaming this function to ``get_shardid_for_distribution_value()`` or ``get_shardid_for_distribution_column``?

[2016-12-16 22:26] samay-sharma commented on #872
I thought about it for a bit. Ideally, I think I'd like `get_shardid_for_distribution_column_value`, but it does seem too long.

Given that in mind, maybe we pick `get_shardid_for_distribution_column`? I think it is more inline with our docs.

[2016-12-16 22:27] lfittl commented on #442
@mtuncer Question, as it stands, two cases I'm curious about:

1) Do we support a view of a UNION query, where each of the individual SELECTs goes to the same tenant? (i.e. all the data is co-located)

2) Do we support a view of a UNION query, where each of the individual SELECTs goes to different tenants? (i.e. the data is only co-located within an individual SELECT, so we are accessing different

[2016-12-16 23:59] #719 closed

[2016-12-17 00:30] jasonmp85 opened #1050 "Implement distributed (VACUUM|ANALYZE) VERBOSE"
In #1013, we implemented all options of `VACUUM` and `ANALYZE`, except `VERBOSE`.

Adding the `VERBOSE` option would require routing and displaying output from all worker nodes during `VACUUM`/`ANALYZE` execution: the implementation we chose was relatively straightforward and non-intrusive and the added code complexity of `VERBOSE` didn't seem worth it in a first pass at the `VACUUM` feature.

Whe

[2016-12-18 06:47] metdos commented on #1009
@aamederen, I think I fixed this issue with this commit: https://github.com/citusdata/citus/commit/e2d0bd38f2ba924dc8a1f825b32b2786a3b2a775

Could you verify that? And if yes, could you close this issue?

[2016-12-19 08:10] onderkalaci commented on #861
Just a note while trying it:

There seems to be a typo in the following line (i..e, referenced table should be `reference_1`)

Should be:

ALTER TABLE main_1 ADD CONSTRAINT main_1_cs FOREIGN KEY (x) REFERENCES reference_1 (a);

[2016-12-19 08:12] metdos commented on #890
I removed 6.1 Release tag because we track 6.1 related parts with #989 and #990.

[2016-12-19 08:45] mtuncer commented on #442
@lfittl
1 - query involving the view is a router query (single tenant + co-located) then yes.
2 - this involves subquery + union which we do not support at the moment for real-time queries. So the answer is no.

So it all comes down to final query being router plannable if unions are involved.

[2016-12-19 08:45] onderkalaci commented on #968
I was experimenting with foreign keys on reference tables and found a potential deadlock.

Though the following example currently is NOT supported and NOT planned to be supported in 6.1, we should keep in mind while implementing foreign keys for reference tables in the future.

[code]

[2016-12-19 09:48] lukashes commented on #713
As I understood (after reading sources) colocated may be only hash distributed tables? And I could not do "INSERT INTO ... SELECT" in my case.  Later I will check it again.

[2016-12-19 10:48] aamederen commented on #1009
@metdos, I have tested this and indeed your commit seems to fix this issue.

One thing I notice is that, `colocate_with` option does not allow colocation with an mx table:

[code]

There, I would expect `nonmx_table_temp` to a streamed replicated table colocated with `mx_table`.

@marcocitus @ozgune what do you think? Is it worth fixing that?

[2016-12-19 10:53] metdos commented on #1009
This happens because currently, 'c' is the hard coded replication model. We can fix this by getting `repmodel` of the table to colocate with and passing it through other functions. Overall, this a quick fix if we want to add this feature.

[2016-12-19 11:56] marcocitus commented on #1009
We can't have streaming replication tables with replication factor > 1, so one way or another this should error out.

[2016-12-19 12:39] marcocitus opened #1051 "Foreign keys from regular to distributed tables trigger failures in SPI queries"
Because we only intercept `ALTER TABLE` commands that are performed *on* distributed tables, it's currently possible to create a foreign key on a regular table that points *to* a distributed table.

Since foreign keys are implemented using SPI, Citus intercepts the underlying queries used to check whether the foreign key holds and throws errors because the queries are unsupported.

[code]

We coul

[2016-12-19 13:02] marcocitus commented on #1047
An option suggested by @anarazel is to have Citus start pgbouncer as a background worker and use it as a built-in, shared connection pool. In that case, Citus is aware of the presence of pgbouncer and can decide to bypass it for `COPY`.

Note: This issue was brought up in Slack by a Citus user with a large number of shards, and high `COPY` frequency.

[2016-12-19 17:50] ozgune commented on #1009
@metdos -- This looks like a separate issue. Could we open a new issue with this description and close this one?

[2016-12-19 18:32] #1009 closed

[2016-12-19 18:39] metdos commented on #1009
@aamederen, looking into your PR #1045, we can say that if replication count is 1, we will use 's', otherwise, we will use 'c'. Therefore, I think we're good here and I'm not opening a new issue.

[2016-12-19 22:11] ozgune commented on #573
I'm noting an exchange in #763. The ideal implementation would *automate* the following:

* Create a hash distributed table and create partitions for each shard
* Create new partitions and drop old partitions

[2016-12-19 22:16] ozgune commented on #763
@vialorn -- Got it.

I had a quick clarification note. We have customers who already use a similar setup; and we opened #183 to communicate what they are doing and then potentially turn some of their manual work into deployable scripts.

#573 takes a higher level approach. Once we have more feedback in #183, we'd then investigate automating the work involved as part of the product. The new declara

[2016-12-19 23:18] ozgune opened #1052 "Citus version upgrade policy: parent issue"
We opened a few issues related to Citus upgrades (#1036, #980, #907) and also talked about this in internal emails.

I'm opening this issue to track the different points that we tracked. The following are related but still independent points (will update with input).

(1) ``apt-get update`` or ``yum update`` shouldn't break installed software. @jasonmp85 is scoping out this work and will open rela

[2016-12-20 00:33] ozgune commented on #710
I'm also noting #484 and #617 as related issues.

[2016-12-20 08:56] #930 closed

[2016-12-20 11:33] #72 closed

[2016-12-20 11:33] #158 closed

[2016-12-20 11:33] #180 closed

[2016-12-20 12:20] marcocitus opened #1054 "Distributed deadlocks may occur when writing to reference table"
Reference tables (#1018) reveal some distributed deadlocks in the router executor which can occur when mixing replication models / factors. Shard resource locks now only apply to reference tables allowing distributed deadlocks between row-level locks on the worker and shard resource locks on the master (demonstrated below). This is a general problem with mixing replication models.

I think there's

[2016-12-20 12:24] onderkalaci commented on #715
Fixed by #1018, closing the issue.

[2016-12-20 12:24] #715 closed

[2016-12-20 12:25] onderkalaci commented on #527
Fixed by #1018, closing the issue.

[2016-12-20 12:26] onderkalaci commented on #969
Fixed by #1018, closing the issue.

[2016-12-20 12:26] #969 closed

[2016-12-20 12:32] marcocitus commented on #527
Well, the issue still exists, there are just more ways to avoid running into it now.

[2016-12-20 12:52] onderkalaci commented on #527
Fixed for tables which are created via `create_reference_table` but still exists for some other combinations of rep factor / shard count.

[2016-12-20 18:56] ozgune commented on #986
+1 -- This came up in a customer thread on Intercom yesterday.

[2016-12-20 19:29] ozgune commented on #558
@aamederen / @marcocitus -- is this issue covered by the transaction unification work that we're doing in #704?

[2016-12-20 19:34] ozgune commented on #595
@lfittl -- I had a quick question on IN (...) support. Could you copy/paste an example query that errors out?

[2016-12-20 20:00] ozgune commented on #25
@onderkalaci -- We're now tracking ``CREATE INDEX CONCURRENTLY`` in #1007.

The reason we currently don't support it is failure semantics. With ``CREATE INDEX``, we can issue the command and wait for it to complete or error out. ``CREATE INDEX CONCURRENTLY`` runs in the background, so we may need to incorporate more logic to handle out-of-band errors.

[2016-12-20 20:04] anarazel commented on #25
On 2016-12-20 12:00:03 -0800, Ozgun Erdogan wrote:

CREATE INDEX CONCURRENTLY doesn't run in the background? Isn't the issue
that you can't run it in a transaction, so we can't rollback if one of
the CREATE INDEXes fails?

[2016-12-20 21:32] lfittl commented on #595
@ozgune Summarizing the conversation we had in person on this:

Any query that accesses multiple shards, and uses IN (...) on the partition_key, will show a warning suggesting them to use `OR` instead, because we always send IN (...) to all shards, instead of pruning down to a subset based on the IDs.

Somebody not knowing this in detail might be confused about that warning - but really its quite

[2016-12-20 21:43] lfittl commented on #595
@ozgune I've also restructed the issue description to split it into must-have tasks, and nice-to-have tasks.

In particular, having a multi-tenant model in mind, once #687 and #306 are solved we can consider closing this issue.

[2016-12-20 23:07] ozgune commented on #844
@metdos -- I'm reading the issue description and had a quick question.

We say in the description that we want to "add excluded_node_list option to rebalance_table_shards() and replicate_table_shards()." Do we need to use the higher shard rebalancing functions or can we just use the lower level shard copy/move functions to move the split shard to a new machine?

[2016-12-21 06:28] metdos commented on #844
I updated the related part.

"This is required if the user wants to keep a tenant isolated on a specific node during a rebalance or replication operation."

Is it clear now? We don't need this to isolate the tenant, but to keep it isolated during a rebalance or replication operation.

[2016-12-21 17:49] ozgune commented on #848
@lithp -- I added this item to our v6.2 product planning spreadsheet. We'll make sure not to lose track of it.

[2016-12-21 18:17] ozgune commented on #844
@metdos -- got it, thanks for the clarification.

@craigkerstiens recently had a question about splitting shards; and I wanted to make a note of it here. We talked about resizing existing shards (splitting a large shard into two) as an interesting feature. That way, if customers observe data growth at a rate faster than they anticipated, they can later dynamically split their shards into two. How

[2016-12-21 18:37] ozgune commented on #923
@lithp / @begriffs -- I ran through these steps in our documentation and had two questions.

First, when the user runs this command, do we see an error message or notice? When I run this command, I see the following. This signals to me that the command executed, but it didn't run in the most efficient way.

<pre>
postgres=# SELECT master_modify_multiple_shards(
postgres(#   'DELETE FROM github_eve

[2016-12-21 21:44] ozgune commented on #989
For documentation purposes, I'm copy/pasting an internal email thread (re: Testing Improvements, any ideas?) on what we'd like to accomplish with testing automation.

---

@onderkalaci's biggest pain point is to repetitively setup different clusters with different variables during the testing and manually operating on the cluster:

* Optional: Ability to pick operating system of the clusters (ubun

[2016-12-22 01:08] ozgune commented on #904
@samay-sharma, @lfittl and I just chatted about this. These tradeoffs sound good to us!

We also had a clarification question. When we introduce this workaround, what would ``PREPARE``'s behavior be for local (non-distributed) Postgres tables?

[2016-12-22 08:07] metdos commented on #844
@ozgune, they hugely overlap. Doing some minor work should be enough to support this. We can do this for the cluster, or on the individual shard level (just picking the largest shards).

Doing this for the cluster, such as from 16 to 32 shards requires a bit more thinking around doing it serially or parallelly.
i. parallel -> faster but IO can be a bottleneck
ii. serial -> takes longer to finish (

[2016-12-22 09:17] #872 closed

[2016-12-22 17:49] ozgune opened #1059 "ALTER TABLE commands display notice about Citus' transaction commit protocol"
When the user runs an ``ALTER TABLE`` command for the first time, we display a notice message about the distributed commit protocol Citus is using. We also hint to the user to enable 2PC for extra safety.

<pre>
postgres=# ALTER TABLE products ADD short_id text NULL;
NOTICE:  using one-phase commit for distributed DDL commands
HINT:  You can enable two-phase commit for extra safety with: SET citus

[2016-12-23 10:02] anarazel commented on #1038
Terminology-wise, this isn't a segfault, is it? It's SIGABORT vs. SIGSEGV.

[2016-12-23 12:58] #791 closed

[2016-12-23 13:43] #985 closed

[2016-12-23 15:30] #1023 closed

[2016-12-23 15:30] #1043 closed

[2016-12-23 17:09] marcocitus commented on #905
Closed after #1031

[2016-12-23 17:09] #905 closed

[2016-12-24 11:08] HackerMD opened #1064 "Difference between part_replica_count and shard_replication_factor"
[code]

[code]

[code]

[code]

[code]

What's the difference between `shard_replication_factor` and `part_replica_count`?

The docs say

But is this correct? I'm sure that I set `shard_replication_factor` to 1, because the distribution with foreign keys would not have worked. Is my data now being replicated or not?

[2016-12-24 11:30] HackerMD commented on #1064
I realized this only happens when I log out from `psql` in between. When I set the `shard_replication_factor` again upon login:

[code]

I get `part_replica_count` of 1.

[code]

How is the `shard_replication_factor` used? Do I need to set it upon every connection or is the display of  `master_get_table_metadata` incorrect?

[2016-12-24 19:48] marcocitus commented on #1064
The `part_replica_count` simply reflects the current value of `shard_replication_factor`. The `master_get_table_metadata` function was previously used to communicate the properties of new shards in append-distributed tables to clients, including the current value of `shard_replication_factor`. We have since moved on to other ways of creating shards, either upfront when creating a hash-distributed

[2016-12-24 19:48] #1064 closed

[2016-12-24 22:09] ozgune opened #1065 "Evaluate making the concept of replication models explicit"
We're planning to reduce Citus' default replication factor to 1. We're talking about this change and our motivations for making it in #998.

@marcocitus talks about Citus' replication models and its implications for the default replication factor in [this comment](https://github.com/citusdata/citus/issues/998#issuecomment-263838050) in that issue talks about Citus' replication models.

We need to

[2016-12-26 06:31] aamederen commented on #793
- master_create_distributed_table
- create_distributed_table
- create_reference_table
- master_create_worker_shards
- master_move_shard_placement
- master_copy_shard_placement
- DDL commands
- master_modify_multiple_shards
- master_drop_all_shards
- master_apply_delete_command (?)
- master_add_node
- master_remove_node
- TRUNCATE
- INSERT / SELECT
- mark_tables_colocated

[2016-12-26 06:54] onderkalaci commented on #793
Also, #967. I'm assigning that issue to you :) We can talk about the issue in person.

[2016-12-26 08:06] metdos commented on #1065
Just a note: If we change this, we need to make sure that we don't allow 'streaming' and 'coordinator' tables to be colocated.

[2016-12-26 11:56] byucesoy opened #1066 "Restarting colocation id at the beginning of each test"
Similar to shard id and job id, we should also restart colocation id at the beginning of each test. Otherwise test outputs may change if we add new tests.

[2016-12-26 14:07] lithp commented on #1038
True, good point.

[2016-12-27 09:23] anarazel commented on #1059
I vote for 2).  I don't think ```max_prepared_transactions``` is that much of an issue, because we'll usually run out of connections first.  I.e. the fix is to reduce the number of connections needed, not to use less 2PC.

[2016-12-28 13:29] mtuncer opened #1071 "NewTableId() function cannot find correct range table id"
Hit this problem when implementing view support.

Problem is that, NewTableId() function is almost always called when rangeTableId's in ```originalTableIdList``` is 1. However, when views are enabled, range table is is greater than 1. The first call to NewTableId() function correctly finds originaltableid in the first rangeTableEntry, and the caller updates varno of target entry to 1. The same fun

[2016-12-28 14:56] onderkalaci commented on #56
Well, with reference tables this bug wouldn't happen. But, since we are still going to have broadcast tables for a while, I'm not sure whether to close this issue or not.

Any comments?

[2016-12-28 16:04] francisco1844 commented on #631
+1 for \dt+ or some other way to get info.. which gets done as part of the install.
Perhaps have a .sql file that loads commonly used functions.

[2016-12-29 07:51] #758 closed

[2016-12-29 10:44] aamederen opened #1072 "Distinguish workers with and without metadata"
Currently, distinguish between workers and the schema node is done via `pg_dist_local_group` entry, in which `groupid=0` means the current node is the schema node and `groupid>0` means a worker with metadata. This means that workers without metadata also have `groupid=0`, which could be a problem with temporary pauses to metadata syncs and also reliance on `pg_dist_local_group` entry. Most of the

[2016-12-29 12:06] aamederen commented on #794
One thing about the sequences is about workers without metadata.

Unlike distributed tables and metadata, sequences (serial columns) are already propagated to non-metadata workers as well. This brings some problems:

- Upon syncing metadata to a worker node, the sequence will probably already exist on the worker. One solution in this case a `CREATE SEQUENCE IF NOT EXIST` followed by `ALTER SEQUENC

[2016-12-29 13:37] mtuncer commented on #693
I am considering adding 2 hints when a query rejected in logical planner.

1 - if it is join related
[code]
2 - otherwise
[code]

I displayed this error only if relations in the query are hash partitioned and co-located. if range/append partitioned relation is used, I did not display the hint.  If a reference table is used, the hint is displayed only if there is also a hash partitioned relation us

[2016-12-29 13:41] metdos commented on #693
@samay-sharma, @lfittl any comments?

[2016-12-29 14:16] mtuncer commented on #931
Here is the usage scenario
- citus cluster has node_1, node_2, node_3, there are existing tables on these nodes.
- user calls ```master_disable_node``` or something similar to ```master_remove_node``` for node_3.
- node_3 will be removed from ```pg_dist_node``` but it will still serve queries on existing shards.
- no new shard could be created on node_3 since it is not in ```pg_dist_node```
- if u

[2016-12-30 07:39] aamederen commented on #794
@marcocitus should this task cover the sequences of (BIG)SERIAL columns only, or all sequences? I belive, if we would like to cover all sequences, then it could be a separate PR with separate UDFs.

[2016-12-30 10:22] onderkalaci commented on #793
@marcocitus I've some ideas on why do we want to disable this. But, could you also clarify what are your thoughts on this?

[2016-12-30 11:42] marcocitus commented on #793
Due to the likelihood of deadlock we don't allow concurrent multi-shard commands on overlapping sets of shards, which we prevent through shard resource locks on the master.

[2016-12-30 22:07] jasonmp85 commented on #1038
:+1: for this "well, actually"

[2016-12-30 22:18] jasonmp85 commented on #1038
BTW, what's the expected behavior for this query? Because it's router-handled, we expect it to work, or do we want to error out that such a CTE isn't supported?

It should work, right (that should be in the ticket)?

[2017-01-02 07:57] aamederen opened #1076 "Disallow CREATE/DROP SCHEMA from workers"
In MX usage, allowing schemas to be dropped from the workers may cause harm.

If a distributed table exists within a schema, dropping that schema would cause shard and metadata loss, therefore this should be prohibited on the workers.

@onderkalaci suggests that, since users may want to create citus-unrelated stuff on a separate schema, disallowing to drop a schema would not be user friendly.

My

[2017-01-02 08:15] aamederen opened #1077 "Mark RF=1 tables as streaming replicated upon upgrade"
@marcocitus suggests that we mark MX eligible tables (hash replicated, RF=1) as streaming replicated (thus as MX tables) so that they are ready to be used as mx tables.

Note that this won't propagate the metadata until `start_metadata_sync_to_node` is called.

[2017-01-02 08:41] aamederen commented on #795
For this task, I can think of 2 approaches

- Copy (almost) all of the regression tests from the citus-mx project to a separate schedule: `multi-mx`
- Create regression tests for all 5.2+ features (by referring to Changelog)
- All new features should also add some (maybe lighter) tests to the `multi-mx` schedule.

or

- Make `multi-mx` a redundant queries schedule (like TPCH) and add MX-related te

[2017-01-02 08:54] anarazel commented on #1076
We could create dependencies from the citus extension to the shards.

I am however quite doubtful that this is a good idea. What are we
protecting against here?  It's e.g. not that unexpected to have to
delete shards manually if a node is unavailable. Or what if you're
looking at a restored backup/replica?

[2017-01-02 09:00] aamederen commented on #1076
protecting against here?  It's e.g. not that unexpected to have to
delete shards manually if a node is unavailable. Or what if you're
looking at a restored backup/replica?

My main idea is to put a barrier for accidental deletes. In MX, people will login to workers for MX queries, but it is very dangerous do allow them to drop anything, both for integrity and user experience. We error out on `DROP

[2017-01-02 09:03] metdos commented on #795
@aamederen, one note, if we follow the first approach, let's make sure that we run these tests with Travis.

[2017-01-02 09:42] metdos commented on #1077
I think this is also tied to the decision in #1065. @aamederen, could you correct me if I'm wrong.

[2017-01-02 12:02] forkeer opened #1078 "failed install citus_96-devel"
Hi
We need install citus_96-devel in centos 7
but show error :
[code]
[code]
[code]
where ? citus_96-devel-6.0.1-1.el7.centos.x86_64?
can any one help me for this ?

[2017-01-02 14:27] aamederen commented on #794
Also:

- ALTER TABLE ... ADD COLUMN with BIGSERIAL
- ALTER TABLE ... SET DEFAULT
- ALTER SEQUENCE commands (both from the Schema node and worker nodes)

[2017-01-02 14:40] #793 closed

[2017-01-02 15:04] #970 closed

[2017-01-03 00:04] lfittl opened #1080 "Support DISABLE/ENABLE TRIGGER ALL on distributed tables"
This is a missing feature for those using Citus together with Ruby on Rails, and using a framework like [database_cleaner](https://github.com/DatabaseCleaner/database_cleaner/blob/master/lib/database_cleaner/active_record/truncation.rb#L235) to truncate their tables after test suite runs. In particular, Rails has a method called [disable_referential_integrity](https://github.com/rails/rails/blob/9

[2017-01-03 06:40] onderkalaci opened #1081 "pg_dist_node uses wrong sequence names for the associated columns"
This is a bug but nothing critical. I'm opening the issue to discuss solutions and whether we want to fix it before 6.1. or not.

With #798, we introduced `pg_dist_node` as a new metadata table. The definition of it:

[code]

As seen above, we assign `group_id` sequence to `nodeid` column. Similarly, 'nodeid_seq' to `groupid` column.
The output as expected:
[code]

[2017-01-03 09:44] marcocitus commented on #794
Bigserial only.

I think the scope is what we have in the citus-mx repo.

[2017-01-03 09:48] marcocitus commented on #1076
I think it goes into a broader UX discussion, e.g. should shards be in a separate schema? For the moment there are scenarios in which the user has to be able to drop shards and schemas might contain non-Citus objects so we shouldn't interfere with either.

[2017-01-03 09:54] marcocitus commented on #1072
I think this distinction might be useful at some point, though I don't see an immediate need for it right now. Outside MX we don't have any restrictions on workers vs. the Master,. Workers could in fact act as master for other distributed tables. You could even turn shards into distributed tables and get (clunky) multi-level sharding. The non-restrictiveness is quite powerful.

[2017-01-03 10:17] marcocitus commented on #795
I'm fine with whatever approach you choose. The main goal is to get good test coverage for execution logistics on workers, e.g. re-testing advanced planning features on the workers does not provide much benefit, but re-testing different types of re-partitioning and broadcast joins is.

[2017-01-03 10:26] marcocitus opened #1082 "Put shards in separate schema"
When a user connects to an MX worker for make queries on a distributed table, the shards on that worker are visible when using `\d` and it is easy to make a mistake (see also: #1076). Consider putting shards into a separate schema to hide them from the user and provide a more homogeneous user experience when connecting to a worker via a load-balanced data URL.

[2017-01-03 10:31] marcocitus opened #1083 "Forward commands that cannot be executed on worker to coordinator"
When issuing commands such as DDL or INSERT .. SELECT from workers, we currently error out. We could instead forward these commands to the coordinator to be executed from there. In this case, a user will never have to connect to the coordinator directly except to create distributed tables, providing a more unified user experience.

Related to #1033.

[2017-01-03 10:38] marcocitus opened #1084 "Create distributed tables from workers"
With MX, users typically connect to workers to perform queries or DML. However, distributed tables need to be created through the coordinator. It would be nicer if all operations, including table creation, could be performed from the workers, such that the application only requires one URL. One approach could be to implement #852 to create distributed tables using a single command that gets propag

[2017-01-03 12:31] marcocitus commented on #1038
I don't think we are currently in a position to support DML in CTEs. We should error out.

[2017-01-03 12:40] marcocitus commented on #844
When I explain the shard rebalancer to customers they generally appreciate that it doesn't hose the cluster, which happens in some other databases when rebalancing. I think doing it as a serial sequence of autonomous subtransactions is better than parallel in this case.

[2017-01-03 12:45] forkeer opened #1086 "Subqueries other than in from-clause are currently unsupported"
Hi
we used many Subqueries  in where clause and i see this error , we cant change query
any one can help me for using sharding citus ?

ERROR:
[code]

[2017-01-03 12:52] forkeer opened #1087 "shard a table using ```SERIAL``` column"
Hi
I want to shard a table using ```SERIAL``` column , how can I do this

ERROR:
`values given for the partition column must be constants or constant expressions`
ERROR:
`distributed modifications must target exactly one shard`

[2017-01-03 12:53] forkeer opened #1088 "cannot plan queries that include both regular and partitioned relations"
hi
can any one explain whats means this error ?

ERROR:
 `cannot plan queries that include both regular and partitioned relations`

[2017-01-03 13:00] onderkalaci commented on #1088
Hi @forkeer,

We try to answer those questions on our [users-group](https://groups.google.com/forum/#!forum/citus-users) and [slack channel](https://slack.citusdata.com/).

Currently, I'm closing the the issues on github. Could you post your question to the above channels?

Thanks!

[2017-01-03 13:00] #1088 closed

[2017-01-03 13:01] onderkalaci commented on #1087
Hi @forkeer,

We try to answer those questions on our [users-group](https://groups.google.com/forum/#!forum/citus-users) and [slack channel](https://slack.citusdata.com/).

Currently, I'm closing the issues on github. Could you post your question to the above channels?

Thanks!

[2017-01-03 13:01] #1087 closed

[2017-01-03 13:01] onderkalaci commented on #1086
Hi @forkeer,

We try to answer those questions on our [users-group](https://groups.google.com/forum/#!forum/citus-users) and [slack channel](https://slack.citusdata.com/).

Currently, I'm closing the issues on github. Could you post your question to the above channels?

Thanks!

[2017-01-03 13:01] #1086 closed

[2017-01-03 13:02] forkeer commented on #1078
Hi
when install citus from yum with your taturial
`curl https://install.citusdata.com/community/rpm.sh | sudo bash`
this script add citusdata_community.repo in yum.rep
when run yum --showduplicates list citus_96 , can see install citus_96.x86_64 from @citusdata_community but not have citus_96-devel in @citusdata_community and try install from pgdg96
i remove
`rm /etc/yum.repos.d/citusdata_communit

[2017-01-03 13:06] onderkalaci commented on #1078
Hi @forkeer,

We try to answer those questions on our [users-group](https://groups.google.com/forum/#!forum/citus-users) and [slack channel](https://slack.citusdata.com/).

I moved this discussion to our [user group](https://groups.google.com/forum/#!topic/citus-users/W7IW6s2x-PI).

Thanks!

[2017-01-03 13:06] #1078 closed

[2017-01-03 13:15] forkeer commented on #1087
why not answer in this post ?
i not work with slack and google
please answer in this post
Thanks

[2017-01-03 13:16] forkeer commented on #1088
why not answer in this post ?
i not work with slack and google
please answer in this post
Thanks

[2017-01-03 13:16] forkeer commented on #1086
why not answer in this post ?
i not work with slack and google
please answer in this post
Thanks

[2017-01-03 13:18] forkeer opened #1089 "shard a table using ```SERIAL``` column"
Hi
I want to shard a table using SERIAL column , how can I do this

ERROR:
values given for the partition column must be constants or constant expressions
ERROR:
distributed modifications must target exactly one shard

regard https://github.com/citusdata/citus/issues/1087

[2017-01-03 19:36] jasonmp85 commented on #1038
FWIW I think the "just error out" case is far easier to implement at the moment, but I wondered whether this wasn't some direct request for a multi-tenant case (i.e. "just forward my SQL")…

[2017-01-03 23:11] ozgune commented on #1089
@forkeer -- Thanks for reporting this issue.

We have two issues related to using a ``SERIAL`` column as the distribution column. #687 talks about using a column with the type ``SERIAL`` and current workarounds. #511 also talks about the underlying limitation. Do these two issues cover your requirements?

If they do, I'm planning to close this issue in favor of #511 and #687.

[2017-01-03 23:15] ozgune commented on #1078
@forkeer -- @onderkalaci reported this problem in our user's list and @jasonmp85 replied in that thread.

Could you continue the conversation in that email thread? (Are you looking to compile a particular extension against Citus?) https://groups.google.com/forum/#!topic/citus-users/W7IW6s2x-PI

[2017-01-03 23:17] jasonmp85 commented on #1078
Hey @forkeer, I answered your question in the [Google Group](https://groups.google.com/d/msg/citus-users/W7IW6s2x-PI/Fqg5FTFmDwAJ), but here's a copy-paste for convenience…

I'd be happy to continue discussion in the Google Group, as this appears to be a usage question and not a feature request or bug report.

[2017-01-03 23:34] ozgune commented on #511
@marcocitus -- I'm sifting through our old issues and had a question on this one.

I think we can now create a distributed table that has a ``SERIAL`` column, without asking the user to create sequences on workers. Does that align with your understanding as well? If so, I'm planning to close this issue.

(We have a separate issue related to using a ``SERIAL`` column for distribution in #687. We're

[2017-01-03 23:39] ozgune commented on #403
@kellabyte / @gregscds -- We summarized the two replication models available in Citus in the blog post above. I'm closing this issue with that in mind. If you have any questions or comments, please feel free to reopen this issue or ping me at ozgun @ citusdata.com.

[2017-01-03 23:39] #403 closed

[2017-01-03 23:40] ozgune commented on #760
@onderkalaci -- are you the right person to assign this to? 😃

[2017-01-04 06:09] marcocitus commented on #511
Yep, fixed by #673

[2017-01-04 06:09] #511 closed

[2017-01-04 09:45] mtuncer commented on #931
Changed this approach and opted for adding ```force``` parameter to ```master_remove_node```. It removed the node from pg_dist_node and propagates changes to other meta-data nodes. It displays a notice saying some queries may fail after this operation.

[2017-01-04 11:09] byucesoy commented on #1038
It seems that there is a general consensus on erroring out for this type of queries. If there is no objection, I will open a PR for this issue which errors out for such query. @anarazel

[2017-01-04 11:12] anarazel commented on #1038
Sorry, won't be able to look at this today (flying, without wifi). Will
look at it tomorrow.

[2017-01-04 11:17] mtuncer opened #1093 "Centralize table creation and data loading logic for regression tests"
We have a lot of regression tests that create the same table (lineitem, orders ...), load data to those tables, and drop the tables in the end.

This approach is also causing us to create ```source``` files instead of ```sql``` and ```out``` files which also makes test/expectation editing and debugging harder.

We should reuse same tables across different tests as much as possible

[2017-01-04 11:40] byucesoy opened #1094 "mark_tables_colocated may seperate foreign referenced tables"
If a foreign key is defined to or from a table, we should not allow changing colocation group of this table. Currently we do not have such check.

To replicate the problem;

[code]

I have two options in my mind to solve this problem;
- If there is a foreign key relationship in one of the tables we want to change colocation group, error out;
This is easier to implement. We already implemented func

[2017-01-04 14:15] lithp commented on #1038
@jasonmp85 This isn't some kind of subtle request for better multi-tenant support, this is a query I came up with while trying to help a customer. It would be nice if it worked but that's a product decision. All I know is that a query shouldn't make the server crash, so that's what's in the ticket :)

[2017-01-04 18:04] ozgune commented on #1089
I'm closing this issue in favor of #511 and #687. If you think this issue has requirements that expand beyond those two issues, please feel free to reopen with more details (table schema, user-defined functions used in creating distributed tables, and example queries).

[2017-01-04 18:04] #1089 closed

[2017-01-04 18:51] jasonmp85 commented on #1038
Sorry, by "direct request" I meant "maybe this came from a customer who didn't understand why it shouldn't just work". But it sounds like you came up with the query to help a customer and it wasn't directly from them, so maybe we can error for the time being.

[2017-01-05 06:54] onderkalaci commented on #760
Sure, I'm the right person :) I'll be doing some sanity checks on Cloud this week.

[2017-01-05 08:26] lfittl commented on #760
@onderkalaci Happy to help test as well - are there any particular parts that might break, or are problematic with pgbouncer/etc?

[2017-01-05 10:37] mtuncer opened #1096 "Convert COPY logic to use new connection api"
this is a copy related part of #873

[2017-01-05 12:34] onderkalaci commented on #760
@lfittl I don't expect any integration problems. Also, I did some basic functionality testing on Cloud, all looks good so far.

But, if you have an easy test setup you could run on Cloud where there is a single shard table that could be converted into a reference table, please give it a try (and feel free to ping anytime you need need extra information).

Almost all pieces are merged to the citus

[2017-01-05 12:43] lfittl commented on #760
@onderkalaci Sounds good, I'll see if I can come up with a test case like that.

One more thing that came to mind, since I saw a recent PR on this - should we test adding nodes as well, making sure that the reference table gets copied to it?

[2017-01-05 12:56] onderkalaci commented on #760
Yes, I think adding such tests make sense.  We've just checked in `master_add_node()` PR. Once we check-in the remaining PRs, I'll send an e-mail explaining such new behaviors and features that come with reference tables.

[2017-01-05 14:42] onderkalaci commented on #913
@ozgune @marcocitus

If I tried to document scenarios, it wouldn't be possible to find all `UDFs` that could lead to problems in half-a-day. Instead, I preferred to list the dangerous `UDFs` so that we could prioritize (either to document scenarios or fixing it). Do we want to fix some of the top items in the list for 6.1?

### UDFs that we should consider to work with shard rebalancer safely (in

[2017-01-05 15:44] lithp commented on #1081
Since 6.0 has already been released the proper fix is probably to, during UPGRADE, rename the sequences?

[2017-01-05 18:22] marcocitus commented on #1094
Another, simpler option could be to error out when a table is already in a colocation group with >1 tables.

[2017-01-05 18:55] marcocitus opened #1097 "Unify schema creation logic"
We currently create schemas for distributed tables by adding a `CREATE SCHEMA IF NOT EXISTS ...` command to the list of DDL commands that we send when creating a placement or distributed table on a worker. This means that we currently have several ways in which a schema can get created on a worker:

1. Reference table is copied to a new node by `master_add_node` (as table owner)
2. Shard rebalance

[2017-01-05 20:57] marcocitus commented on #1081
I think we need to alter the default column in the upgrade script. I would expect a rename to also "update" the default expressions.

[2017-01-05 21:15] marcocitus commented on #1093
I kind of like when regression tests create and drop their own tables, because it enables parallelisation, allows you to run test on a local Citus installation as a stand-alone file (e.g. in case of crash), and avoids tests affecting each other's outcomes. That said, I agree that `.source` files are best avoided.

[2017-01-05 23:27] marcocitus opened #1098 "Introduce a fast way of looking up a set of co-located shards/placements"
To avoid deadlocks between operations that work on co-located tables with foreign keys between them in the same transaction, we need to always use the same connection for co-located placements. To achieve this we need to be able to assign an identifier to a set of co-located shards or placements.

We currently have some fairly inefficient logic for looking up a common shard identifier in the DDL/I

[2017-01-05 23:39] marcocitus commented on #1096
Me and Andres were discussing how to always use the same connection for modifications to co-located placements. This is something we do implicitly in the router executor by using a single connection per worker, and explicitly in `multi_shard_transaction.c` for DDL, INSERT..SELECT, master_modify_multiple_shards. The reason we need to do this is that we might otherwise deadlock if a transaction modi

[2017-01-06 00:10] anarazel opened #1099 "Convert transaction_recovery.c to new connection framework"
Should be fairly simple.

Noticed because that'd allow us to remove ReraiseRemoteError().

This is part of #873

[2017-01-06 00:16] anarazel opened #1100 "Remove direct usage of PQexec/PQgetResult/... to avoid blocking interrupts"
It's bad to block interrupts when interacting with remote servers, because that can require restarting the server when encountering e.g. a distributed deadlock.   Instead SendRemoteCommand(), GetRemoteCommandResult() etc. should be used.

This is partially blocked by #873

[2017-01-06 00:34] ozgune commented on #1054
@marcocitus / @onderkalaci -- Are we planning on fixing this for our v6.1 release?

[2017-01-06 00:34] anarazel commented on #1038
I think it's, for now, completely reasonable to forbid modifying tables from within CTEs. So let's close #1060 and open a new PR for forbidding this?

[2017-01-06 01:15] marcocitus opened #1101 "Convert various UDFs to new connection API"
Adding list of individual items to keep track.
- [x] master_append_table_to_shard (Brian) PR: https://github.com/citusdata/citus/pull/1149
- [x] master_expire_table_cache
- [x] master_run_on_worker  (@anarazel) PR : https://github.com/citusdata/citus/pull/863
- [x] DropShards (Burak) PR: #1136
- [ ] WorkerCreateShard
- [x] master_update_shard_statistics (Brian) PR: https://github.com/citusdata/cit

[2017-01-06 01:26] anarazel commented on #1101
Neat overview.

If somebody touches DropShards() it might be worthwhile to rejigger it to build a single DROP TABLE IF EXISTS a,b,c; sent to all relevant nodes that scales a *LOT* better (because it scans shared buffers once, instead of once for each shard).  And yes, it imo should be "failure ok => yes".

[2017-01-06 01:34] marcocitus commented on #1101
Alternatively, we could perform it as a multi-shard transaction and drop them in parallel. One case where this might become useful is performing rollups on new data through a temporary distributed table: CREATE TABLE temp ( ... ); SELECT create_distributed_table('temp', ...); COPY temp FROM STDIN; INSERT INTO rollup SELECT ... FROM temp; DROP TABLE temp;

[2017-01-06 02:34] anarazel commented on #1101
On 2017-01-05 17:34:47 -0800, Marco Slot wrote:

That's performance-wise pretty bad (N scans of shared buffers). It also
has some locking issues with also dropping the sequence of a serial
column :(

[2017-01-06 03:46] samay-sharma commented on #750
Re-opening as per discussion with @ozgune

[2017-01-06 05:21] anarazel opened #1102 "Reference table modifications are missing "set of active connections" expansion check"
In contrast to GetConnectionForPlacement() GetPlacementConnectionsReadyForTwoPhaseCommit() doesn't have
[code]
That doesn't seem entirely right to me.  @onderkalaci Was that intentional? If so, why exactly?

[2017-01-06 06:05] onderkalaci commented on #1102
It doesn't do it explicitly. But, the connections opened (and marked as critical) by `GetPlacementConnectionsReadyForTwoPhaseCommit ()`  always goes through `GetConnectionForPlacement ()` and so passes through the participant check. Is that approach not accurate?

Also, have a regression test for [it](https://github.com/citusdata/citus/blob/master/src/test/regress/expected/multi_modifying_xacts.ou

[2017-01-06 06:14] anarazel commented on #1102
Ladidadi - I blame jetlag. Sorry for the noise.

[2017-01-06 06:14] #1102 closed

[2017-01-06 06:21] anarazel commented on #1102
FWIW, that's correct, but it's really quite ugly to start connections first in GetPlacementConnectionsReadyForTwoPhaseCommit() and then rely on a second lookup to trigger the error.

[2017-01-06 08:20] jasonmp85 commented on #931
Is that actually true? I thought we usually checked whether a node was in `pg_dist_node` before including its placements in query planning?

[2017-01-06 08:58] mtuncer commented on #931
not anymore,  logged an error about this during 6.0 release testing complaining about node still serving drop queries even if it is removed from pg_dist_node. #956.

[2017-01-06 10:46] metdos commented on #750
Noting a related comment https://github.com/citusdata/citus/pull/1031#issuecomment-270798443

[2017-01-06 15:10] metdos commented on #1101
@marcocitus, this should be in the reverse order, right?

[2017-01-06 17:30] marcocitus commented on #1101
No, metadata first such that there is a placement ID / ShardPlacement that you can use in GetPlacementConnection.

[2017-01-06 22:47] contra commented on #279
@jasonmp85 Maybe I'm doing something wrong, but the process you outlined (brew install, then create extension) errors out with this message:

[code]

Maybe an issue with the homebrew setup for citus?

[2017-01-06 22:51] lfittl commented on #279
@contra You'll need to add citus to the `shared_preload_libraries` setting in PostgreSQL before, and then restart the server.

Also see https://docs.citusdata.com/en/v6.0/installation/single_machine_osx.html for all steps you need to do.

[2017-01-09 13:51] onderkalaci commented on #1065
We also added `2pc` replication model for reference tables. That replication model is the same with `coordinator` replication model except for that executor chooses to use `2pc` for modification queries.

[2017-01-09 15:03] byucesoy commented on #310
@ozgune I think using co-location related keywords would not help user to understand the problem in this case. We allow some outer joins even if tables are not co-located and we do not allow some outer joins even if tables are co-located.

I think Onder's suggestion is pretty good to explain the problem;
`cannot run outer joins with re-partition job`

It is short and to the point. However the term

[2017-01-09 15:21] onderkalaci commented on #1102
Since your new PR (#1079) fixes it, I'm not going to do anything on that?

[2017-01-09 15:29] onderkalaci commented on #1054
Hmm, with #1079 I cannot re-produce with the above steps. The main reason is that #1079 tries to get the connections before acquiring the executor locks. In that case, we get the following error in session 2:
[code]

I'll look more whether it solves this problem in general or just fixes for this set of specific cases.

[2017-01-09 17:57] onderkalaci commented on #1054
Giving an example to the above problem which is not solved by #1079:

Session 0:
[code]

Session 1:
[code]

Session 2:
[code]

Session 1 again:
[code]

Session 2 again:
[code]

Now that both sessions are blocked.

[2017-01-09 19:31] marcocitus commented on #1065
We had a meeting on this issue today with @ozgune @lfittl @anarazel @onderkalaci .

We've decided to introduce a GUC that defaults to 'coordinator' and leave upgrading to 'streaming' to specific deployments such as cloud. Marking a distributed table as 'streaming' enforces a replication factor of 1. Right now, the main advantage is that it enables MX for hash-distributed tables after calling `star

[2017-01-09 19:32] marcocitus commented on #998
No, only when there is an existing table with replication factor > 1.

[2017-01-09 19:59] marcocitus opened #1107 "Remove XactModificationLevel and rely on placement API instead"
When we introduced transactions in Citus 5.2, we initially opened up the possibility for self deadlock as remote transaction are kept open until the master commits and commands in the same transaction that are performed over separate connections could block waiting for the still-open transactions.

As a quick, rudimentary solution we introduced the global XactModificationLevel variable, which prev

[2017-01-09 22:56] samay-sharma commented on #310
Hey @byucesoy , there seem to be 2 cases when we display this message.

One case is when the join type chosen is `LOCAL_PARTITION_JOIN` and `!shardIntervalsMatch`. Do you know what user behaviors / scenarios can lead us to this code path?

For the 2nd one, I think its better to show a different error message.

An error message like:- "cannot run outer join query which requires repartitioning" does

[2017-01-10 01:08] marcocitus opened #1111 "Call PQclear in ReportResultError"
We currently don't call PQclear in `ReportResultError` in the way that `pgfdw_report_error` in postgres_fdw does, which may lead to memory leaks in case of failure.

[2017-01-10 01:29] anarazel commented on #1111
Hrmpf, that's not pretty.  Clear iff elevel >= ERROR?

[2017-01-10 02:31] #1099 closed

[2017-01-10 02:31] #1111 closed

[2017-01-10 03:08] anarazel commented on #1098
I've spent some time thinking about how to implement this best. My conclusion is pretty much in line with Marco's above (not surprising since we'd discussed in person).   In particular:

The biggest issue with computing such an identifier is that that seems to boil down to colocationGroupId and 'shard offset' (the offset in a sorted list of shards). The offset isn't cheap to compute though, thus w

[2017-01-10 07:35] #1038 closed

[2017-01-10 11:27] byucesoy commented on #310
Hey @samay-sharma,

I think, we can use your suggestion for second usage of error message. In that case, error occurs because there is no partition column in the error message. However situation is different for first usage of the error message. I wrote an example;

[code]

As you can see we can reach that path even if we join on partition column. In fact, we can only reach this path if there is a

[2017-01-10 13:25] lithp commented on #750
It's difficult to see how any of the points in the referenced comment could be made actionable. @samay-sharma, are you the right person to ask about this?

a) appears to propose the wording which already exists? That is the HINT which INSERT statements receive.
b) proposes being smarter and, instead of HINTing both solutions to the problem, HINTing the one we think the user wants. However, I have

[2017-01-10 13:33] metdos commented on #1101
Adding a priority list referring to an internal email by @marcocitus

This leaves 6 higher priority ones, namely:
- master_append_table_to_shard
- master_expire_table_cache
- master_update_shard_statistics
- master_run_on_worker
- DropShards
- WorkerCreateShard

[2017-01-10 15:01] #986 closed

[2017-01-11 01:34] anarazel commented on #1098
We discussed this some more, and decided to use a different identifier 'colocated shard placements'. The reason for reconsidering is that the above 'index' won't be stable if we add the ability to split shards.

The approach we decided to take instead is to build that identifier out of (host,port,database?,colocationGroupId, shardMinValue) for hash/range partitioned tables, (host,port,database?, s

[2017-01-11 01:51] onderkalaci commented on #913
Since the scope for 6.1 is to investigate and we already did, the 6.1 tag should be removed from the issue.  Any objections?

[2017-01-11 03:06] anarazel commented on #1098
Hm, it seems like we can just declare that anything that's repmodel != HASH/RANGE just doesn't go through the additional hashtable; since there'd never be anything in there that's not already associated with the placement.  That simplifies the mapping logic a bit.

I'm inclined for now to exclude range partitioned tables from this consideration for now, since that requires dealing with possibly ar

[2017-01-11 06:22] metdos commented on #913
I think we should create a 6.2 release milestone and move issues like this to there? @ozgune, @sumedhpathak?

[2017-01-11 07:39] lithp commented on #1101
Tackling `master_append_table_to_shard` now.

[2017-01-11 16:53] byucesoy commented on #1101
@marcocitus in this issue #1107 it is mentioned that we will replace XactModificationLevel checks. Should we use XactModificationLevel for items in this issue?

[2017-01-11 22:13] anarazel commented on #873
This essentially is a duplicate of the information in #704, which is confusing.

[2017-01-11 22:13] #873 closed

[2017-01-11 22:13] anarazel opened #1119 "Convert real-time and task tracker to new API"
This is partially blocked by #1101

[2017-01-11 23:15] sumedhpathak commented on #931
@mtuncer This change needs documentation updates as well. See tag. Looks like we added a new UDF, and also a new parameter to the existing `master_remove_node` UDF. Both need changes in Docs. Could you add information about these changes to the related Docs issue?

[2017-01-12 01:29] anarazel commented on #156
I think a good identifier here would be something like (nodeId, backendId, localJobId) with localJobId just being a per-backend counter that increases.

[2017-01-12 01:30] anarazel commented on #170
@sumedhpathak @ozgune I'd like to close this issue, as the current description isn't meaningful. How about opening a new issue about preserving citus-specific knowledge in pg_dump?

[2017-01-12 01:31] anarazel commented on #223
@jasonmp85 Afaik this is done.  There's some related issues with metadata tables not easily being dumped, but that seems like a separate thing.

[2017-01-12 01:33] anarazel commented on #348
For posterity's sake: "The pg_dump error message has become less useful?" isn't a great description of an issue - hard to understand what that could mean when just looking at the title.

[2017-01-12 01:34] anarazel commented on #17
@marcocitus @ozgune I think we can mark this as closed/fixed?

[2017-01-12 01:38] anarazel commented on #129
@jasonmp85 I think we should close this issue?

[2017-01-12 01:39] #133 closed

[2017-01-12 01:42] anarazel commented on #525
@onderkalaci Afaics this is fixed?

[2017-01-12 01:48] anarazel opened #1121 "Remove sections of code blocking interrupts"
A good bit of code recently learned to cope with interrupts - the connection mgmt/transaction mgmt infrastructure makes that a lot easier. Some code still blocks because of libpq calls (#1100), but there's also sections of code where we explicitly avoid interrupts:
- [ ] task tracker
- [ ] real-time
- [ ] placement creation (```CreateShardsWithRoundRobinPolicy()```)
- [ ] master_append_table_to_sh

[2017-01-12 01:49] anarazel commented on #154
This is largely done due to the replacement of \stage with COPY. There's some remaining issues in other parts of the code, but separate issues track those #1100 #1121).

[2017-01-12 01:49] #154 closed

[2017-01-12 01:51] anarazel commented on #239
I think this problem should be gone now with the move to callbacks.  @onderkalaci?

[2017-01-12 01:55] #244 closed

[2017-01-12 01:56] anarazel commented on #320
\stage does not exist anymore.

[2017-01-12 01:56] #320 closed

[2017-01-12 01:57] anarazel commented on #82
\stage does not exist anymore.

[2017-01-12 01:57] #82 closed

[2017-01-12 01:57] anarazel commented on #252
\stage does not exist anymore.

[2017-01-12 01:57] #252 closed

[2017-01-12 01:57] anarazel commented on #338
\stage does not exist anymore.

[2017-01-12 02:02] jasonmp85 commented on #223
Sure, let's close.

[2017-01-12 02:02] #223 closed

[2017-01-12 02:02] jasonmp85 commented on #129
Sure, let's close.

[2017-01-12 02:02] #129 closed

[2017-01-12 02:04] anarazel opened #1123 "Enable 2PC by default in citus.multi_shard_commit_protocol"
As we force-configure 2PC in now, we should consider enabling 2PC by default.  The only real counter-argument that I can see is that we have no automated 2PC recovery.

If we implement this, this also
Fixes #1059

[2017-01-12 02:17] jasonmp85 commented on #338
So I don't think we should close this… the complaint is re: `\stage`, but the underlying problem wasn't removed and isn't in dead code (had to go check and you closed in the interim 🙄)

I believe there is still a problem inside of `WorkerGetLocalFirstCandidateNode` in how it detects whether the connecting machine is the same as the local machine. I did a bit of a spike into the best way to detect

[2017-01-12 02:20] jasonmp85 commented on #338
(Of course, I'm not sure what `master_get_local_first_candidate_nodes` is even used for, though `master_create_empty_shard` is used by the `COPY` pipeline)

[2017-01-12 02:28] anarazel commented on #338
I only went by #590 which listed issues that should be closed after \stage removal, which was closed without performing that action.

[2017-01-12 02:31] anarazel commented on #1096
There's no need to do any of the colocation aware stuff on the level of copy. #1120 will do that below GetPlacementConnection. So you should just use that, which will make copy aware once #1120 is merge.d

[2017-01-12 08:56] #693 closed

[2017-01-12 12:16] byucesoy commented on #1101
@marcocitus  @anarazel

I am working on converting DropShards to new UDF. As @anarazel suggested, I am changing the logic to send one DROP command for all shards in one node. In that case;

- I should use node API instead of placement API right?
  - If yes, which user should I use? Table owner of each table can be different. Should I use current user instead of table owner?

[2017-01-12 14:34] lithp commented on #348
@anarazel What do you propose as a better description? `pg_dump used to print "cannot execute COPY on a distributed table on master node" when erroring out but now prints something which gives users less guidance`?

You've changed the title but in the process also changed the issue! I didn't mean "we should support pg_dump", I literally meant "seeing as that we don't support pg_dump, we used to ki

[2017-01-12 15:27] marcocitus commented on #1101
We should keep using the xact modification level for now (DATA), using the node api makes sense, current user. It's probably best to just roll back on failure and use 2PC.

[2017-01-12 16:00] marcocitus commented on #1101
Actually, thinking about it this more (sorry, just waking up), I feel quite strongly against building one big DROP table string for all the shards on a worker. While nice to have, it seems like feature creep for which neither the connection API nor the xact modification level have been designed and will introduce a lot of late breaking bugs. I've implemented this before in MX and decided to axe it

[2017-01-12 16:18] marcocitus commented on #1101
Actually, also not a good solution since that would hurt users of append-distributed tables. We should keep doing this sequentially.

[2017-01-12 17:16] anarazel commented on #1101
First off: I think we should do the discussion for individual conversions in their own tickets, otherwise this is quickly becoming unwieldy?

I don't think that's ok - doesn't that mean it's impossible to DROP a table with placements on a dead node?  What I think would make sense is to try to connect to a node. If that connection fails mark all the affected placements of the table as pending. Afte

[2017-01-12 19:17] marcocitus commented on #1101
Yes, if a connection fails we can set shardstate to 4 and continue, but when we do connect dropping the placements should be done in a 2PC and we should abort on a query result failure.

We also ran into this problem in MX, which is why we currently use SendCommandToWorkers to drop sequences. I guess we could error out if XactModificationLevel > XACT_MODIFICATION_NONE and use the same connection a

[2017-01-12 19:20] anarazel commented on #348
There's a lot of possibilities. Something like "Make warning about failing COPY in pg_dump more descriptive, again" could do the trick.   Your previous title is a question, not an issue title.

Well, but that's not really the case. We previously didn't support COPY, now we just don't support COPY in readonly transactions.

[2017-01-12 19:26] anarazel commented on #1101
On 2017-01-12 11:17:48 -0800, Marco Slot wrote:

Agreed.

I think we should construct one giant DROP TABLE IF EXISTS a,b,c; and
add a new function ForceConnectionForPlacement(), which errors out if
that's not safe. We now should have all the information to make that
possible, and the implementation should be easy.

Leaving the sequence in place might cause issues if afterwards a
table/sequence is

[2017-01-12 19:35] anarazel opened #1126 "Shardstate tests cause spurious failures due to undefined order"
There've been several recent travis failures due to
[code]
in src/test/regress/sql/multi_schema_support.sql returning rows in different order than the test expects. Which is quite expected - where rows are inserted in pg_dist_shard_placement depends on the free space.  There should be ORDER Bys.

Burak, I think you added the respective tests?

[2017-01-12 19:44] marcocitus commented on #1101
That will only provide support for a couple of trivial cases, things like create distributed table + copy + insert select + drop table would always error out if we could only drop multiple placements at a time.

table/sequence is re-created and then a placement is rebalanced to that
node - it's current state might not be meaningful?

Sequence creation would have to become an idempotent operation b

[2017-01-12 19:52] anarazel commented on #1101
On 2017-01-12 11:44:29 -0800, Marco Slot wrote:

I think that's ok, as long as we error out cleanly.  I think we really
have to address the scalability issue (solved as long as we're either
using a single transaction or a single statement for all DROPs on a
node) and the transactionality.  To make things transactional while
still supporting append partitioned tables with many shards, we have to
re

[2017-01-12 21:21] marcocitus commented on #1101
The implementation I have in mind until we have a pooled DDL implementation would be something like:

[code]

In the common case this would be a single transaction on every node and we wouldn't have to error out in the write + drop cases. We can handle sequences correctly using worker_apply_sequence_command from #1090, though it requires some care.

[2017-01-12 22:05] ozgune opened #1127 "UPDATE ... FROM support for queries that touch a single machine"
We have two customers who asked if we could support the ``UPDATE ... FROM (SELECT ...)`` construct for queries that modify data in a single machine. For example:

<pre>
UPDATE foobar
SET
       distinct_viewers = metrics.viewers
FROM
       (SELECT contactable_id foobar_id,
        count(DISTINCT (CASE WHEN event_type='View' then visitor_token end)) as viewers
        FROM events
        WHERE acc

[2017-01-12 23:10] ozgune commented on #1054
@onderkalaci / @marcocitus / @anarazel -- I had a clarification question on this issue.

Marco originally reported two issues: (1) problems with mixing replication models / factors and (2) modifying a reference table subsequently allows you to modify shards in arbitrary order across worker nodes.

@onderkalaci has steps to reproduce the second issue that relates to reference tables. Are we thinkin

[2017-01-13 01:18] #1126 closed

[2017-01-13 07:11] mtuncer commented on #442
needs documentation

[2017-01-13 09:43] marcocitus opened #1129 "Propagate views to workers"
We added support for creating views in #1024. To provide a consistent user experience in MX, it would be nice if we would also propagate views to workers with metadata.